In [ ]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from sklearn.svm import SVC

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data/finestapi_tracking_db.csv")
df

            id           updated  ...               eta  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25  NaN
3         4139  05/04/2018 19:21  ...  05/04/2018 21:26  NaN
4         4140  05/04/2018 19:22  ...  05/04/2018 21:25  NaN
...        ...               ...  ...               ...  ...
823667  912179  15/03/2019 07:36  ...  15/03/2019 09:02  NaN
823668  912180  15/03/2019 07:37  ...  15/03/2019 09:02  NaN
823669  912181  15/03/2019 07:38  ...  15/03/2019 09:02  NaN
823670  912182  15/03/2019 07:39  ...  15/03/2019 09:02  NaN
823671  912183  15/03/2019 07:40  ...  15/03/2019 09:02  NaN

[823672 rows x 17 columns]

In [ ]:
 df.describe()

                  id           imo  ...            cog            hdg
count  823672.000000  8.236720e+05  ...  823672.000000  823672.000000
mean   462795.350583  9.401429e+06  ...     149.432205     156.911632
std    266273.511015  2.798543e+05  ...     111.171883     110.111634
min      4136.000000  8.919805e+06  ...       0.000000       0.000000
25%    228046.500000  9.214379e+06  ...      22.000000      23.000000
50%    463107.500000  9.364722e+06  ...     180.000000     183.000000
75%    696270.250000  9.773064e+06  ...     202.000000     204.000000
max    912183.000000  9.773064e+06  ...     360.000000     511.000000

[8 rows x 7 columns]

In [ ]:
df["imo"].unique()

array([9773064, 9364722, 8919805, 9214379])

In [ ]:
MegastarDF = df[df["imo"] == 9773064]

In [ ]:
MegastarDF.describe()

                  id        imo  ...            cog            hdg
count  258132.000000   258132.0  ...  258132.000000  258132.000000
mean   465259.047503  9773064.0  ...     145.074826     149.602901
std    265886.142359        0.0  ...     112.578630     110.441577
min      4136.000000  9773064.0  ...       0.000000       0.000000
25%    230640.500000  9773064.0  ...      18.000000      19.000000
50%    467135.500000  9773064.0  ...     180.000000     182.000000
75%    705966.500000  9773064.0  ...     200.000000     201.000000
max    912173.000000  9773064.0  ...     360.000000     511.000000

[8 rows x 7 columns]

In [ ]:
MegastarFinlandDF = MegastarDF[MegastarDF["depPort"] == "FIHEL"]
MegastarEstoniaDF = MegastarDF[MegastarDF["depPort"] == "EETLL"]



1.  Convert Index to timeseries
2.  Create a new arrival time by substracting arrival time from updated
3.  Integrate with weather data

In [ ]:
MegastarFinlandDF = MegastarFinlandDF.dropna(thresh=16)

In [ ]:
MegastarFinlandDF.dtypes
MegastarFinlandDF.reset_index(drop=True)

            id           updated  ...               eta                  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25                  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25                  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25                  NaN
3         4140  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
4         4142  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
...        ...               ...  ...               ...                  ...
125934  911720  14/03/2019 22:22  ...  14/03/2019 22:26                  NaN
125935  911722  14/03/2019 22:23  ...  14/03/2019 22:27                  NaN
125936  911724  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
125937  911726  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
125938  911728  14/03/2019 22:26  ...  14/03/2019 22:27  2019-03-14 22:26:05

[125939 rows x 17 columns]

In [ ]:

!pip install statsmodels --upgrade
!pip install scipy --upgrade

Requirement already up-to-date: statsmodels in /usr/local/lib/python3.7/dist-packages (0.12.2)
Requirement already satisfied, skipping upgrade: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.6.3)
Requirement already satisfied, skipping upgrade: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.19.5)
Requirement already satisfied, skipping upgrade: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.1.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2018.9)
Requirement already up-to-date: scipy in /usr/local/lib/python3.7/dist-packages (1.6.3)
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

In [ ]:
from datetime import datetime
MegastarFinlandDF["updated"] = pd.to_datetime(MegastarFinlandDF["updated"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF["ata"] = pd.to_datetime(MegastarFinlandDF["ata"], format='%Y-%m-%d %H:%M:%S')
MegastarFinlandDF["etaSchedule"] = pd.to_datetime(MegastarFinlandDF["etaSchedule"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF["eta"] = pd.to_datetime(MegastarFinlandDF["eta"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF = MegastarFinlandDF.set_index('updated', drop = False)

In [ ]:
ArrivalIndex = MegastarFinlandDF[MegastarFinlandDF["ata"].notna()]
#ArrivalIndex.index
ArrivalIndex["ata"]
MegastarFinlandDF["timeToDestination"] = MegastarFinlandDF["ata"].bfill()

In [ ]:

MegastarFinlandDF["newTimeToDestination"] = MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["updated"]

In [ ]:
MegastarFinlandDF['newTimeToDestination'] = (MegastarFinlandDF['newTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')
MegastarFinlandDF['maximumJourneyDuration'] = ((MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["etaSchedule"]) / np.timedelta64(1, 'm')).astype('int16')
MegastarFinlandDF['etaError'] = ((MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["eta"]) / np.timedelta64(1, 'm')).astype('int16')

MegastarFinlandDF["forecastedTimeToDestination"] = MegastarFinlandDF["eta"] - MegastarFinlandDF["updated"]
MegastarFinlandDF['forecastedTimeToDestination'] = (MegastarFinlandDF['forecastedTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')

MegastarFinlandDF

                         id  ... forecastedTimeToDestination
updated                      ...
2018-04-05 19:18:00    4136  ...                         127
2018-04-05 19:19:00    4137  ...                         126
2018-04-05 19:20:00    4138  ...                         125
2018-04-05 19:22:00    4140  ...                         123
2018-04-05 19:22:00    4142  ...                         123
...                     ...  ...                         ...
2019-03-14 22:22:00  911720  ...                           4
2019-03-14 22:23:00  911722  ...                           4
2019-03-14 22:24:00  911724  ...                           3
2019-03-14 22:24:00  911726  ...                           3
2019-03-14 22:26:00  911728  ...                           1

[125939 rows x 22 columns]

In [ ]:

MegastarFinlandDF['maximumJourneyDuration'].describe()

count    125939.000000
mean         -0.740581
std          53.850868
min         -11.000000
25%          -5.000000
50%          -3.000000
75%          -2.000000
max        1440.000000
Name: maximumJourneyDuration, dtype: float64

In [ ]:
MegastarFinlandDF[(MegastarFinlandDF["maximumJourneyDuration"] > 0)]["maximumJourneyDuration"].unique()

array([   1,  714, 1436,   13,   12,   28,  775,  715,    2,   10,  157,
          9,  742,   22,   21,  718, 1437, 1440,   34,    3,    4],
      dtype=int16)

From further analysis we can see that delay greater than 34 minutes is an anomaly cause by missing data and data with 21 minute delay, has no prior history as only the arrival time is recorded

In [ ]:
#MegastarFinlandDF['2018-07-20'][MegastarFinlandDF['2018-07-20']["newTimeToDestination"] > 120]
#MegastarFinlandDF[(MegastarFinlandDF["newTimeToDestination"] > 170) & (MegastarFinlandDF["newTimeToDestination"] < 200)]
#[(MegastarFinlandDF["maximumJourneyDuration"] > 100) & (MegastarFinlandDF["maximumJourneyDuration"] < 200)]
#MegastarFinlandDF[(MegastarFinlandDF["maximumJourneyDuration"] > 11) & (MegastarFinlandDF["maximumJourneyDuration"] < 13)]
cleanedData = MegastarFinlandDF[(MegastarFinlandDF["maximumJourneyDuration"] < 35)& (MegastarFinlandDF["maximumJourneyDuration"] != 21)]
cleanedData.describe()

                  id        imo  ...       etaError  forecastedTimeToDestination
count  125520.000000   125520.0  ...  125520.000000                125520.000000
mean   468221.440511  9773064.0  ...      -1.336496                    64.575765
std    265342.569826        0.0  ...       3.401425                    37.600269
min      4136.000000  9773064.0  ...     -25.000000                   -39.000000
25%    234471.500000  9773064.0  ...      -3.000000                    32.000000
50%    473692.000000  9773064.0  ...      -1.000000                    64.000000
75%    707034.500000  9773064.0  ...       0.000000                    96.000000
max    911728.000000  9773064.0  ...      48.000000                   136.000000

[8 rows x 11 columns]

In [ ]:
cleanedData[(cleanedData["etaError"] > 0)]["etaError"].unique()

array([ 1,  2,  3,  4, 10, 12, 11, 18,  5,  7,  6, 13, 25, 27, 26, 28, 29,
       30,  9, 14, 15, 42,  8, 22, 38, 39, 40, 48, 47], dtype=int16)

In [ ]:
etaErrorCount = len(cleanedData[(cleanedData["etaError"] >= 5)].index)
totalCleanDataCount = len(cleanedData.index)

import plotly.graph_objects as go

labels = ['Falsely Predicted_ETA','Total']
values = [etaErrorCount, totalCleanDataCount]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [ ]:
cleanedData[(cleanedData["etaError"] == 30)]

                         id  ... forecastedTimeToDestination
updated                      ...
2018-08-01 20:38:00  306550  ...                          50
2018-08-01 20:38:00  306553  ...                          50
2018-08-01 20:39:00  306556  ...                          49
2018-08-01 20:40:00  306559  ...                          48
2018-08-01 20:41:00  306562  ...                          47
2018-08-01 20:42:00  306565  ...                          46
2018-08-01 20:44:00  306568  ...                          44
2018-08-01 20:45:00  306571  ...                          43
2018-08-01 20:47:00  306576  ...                          41
2018-08-01 20:48:00  306579  ...                          40
2018-08-01 20:49:00  306582  ...                          39
2018-08-01 20:49:00  306585  ...                          39
2018-08-01 20:50:00  306588  ...                          38
2018-08-01 20:51:00  306591  ...                          37
2018-08-01 20:53:00  306594  ...                          35
2018-08-01 20:54:00  306598  ...                          34
2018-08-01 20:55:00  306600  ...                          33
2018-08-01 20:56:00  306602  ...                          32
2018-08-01 20:58:00  306604  ...                          30
2018-08-01 20:59:00  306606  ...                          29
2018-08-01 21:00:00  306608  ...                          28
2018-08-01 21:01:00  306609  ...                          27
2018-08-01 21:02:00  306612  ...                          26
2018-08-01 21:03:00  306614  ...                          25
2018-08-01 21:04:00  306616  ...                          24
2018-08-01 21:05:00  306618  ...                          23
2018-08-01 21:06:00  306620  ...                          22
2018-08-01 21:07:00  306622  ...                          21
2018-08-01 21:08:00  306624  ...                          20
2018-08-01 21:09:00  306626  ...                          19
2018-08-01 21:11:00  306628  ...                          17
2018-08-01 21:12:00  306630  ...                          16
2018-08-01 21:13:00  306632  ...                          15
2018-08-01 21:14:00  306634  ...                          14
2018-08-01 21:58:00  306636  ...                         -30

[35 rows x 22 columns]

In [ ]:
cleanedData[cleanedData["hdg"] > 360]
# Heading should never be greater than 360

                         id  ... forecastedTimeToDestination
updated                      ...
2018-09-20 14:35:00  430608  ...                          52
2018-09-20 14:35:00  430610  ...                          51

[2 rows x 22 columns]

In [ ]:
cleanedData["2018-09-20 14:35:00"]["hdg"] = 190
cleanedData["2018-09-20 14:35:00"]
# Changed the heading to some

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         id  ... forecastedTimeToDestination
updated                      ...
2018-09-20 14:35:00  430608  ...                          52
2018-09-20 14:35:00  430610  ...                          51

[2 rows x 22 columns]

In [ ]:
cleanedData = cleanedData[~cleanedData.index.duplicated(keep='first')]

In [ ]:
x = cleanedData[["lat", "long", "sog", "cog", "hdg","forecastedTimeToDestination","newTimeToDestination"]].reset_index(drop=True)
x = x.astype({'lat': 'float32', 'long': 'float32', 'sog': 'float32', 'cog': 'float32','hdg': 'int32', 'newTimeToDestination': 'int32'})
x.dtypes

lat                            float32
long                           float32
sog                            float32
cog                            float32
hdg                              int32
forecastedTimeToDestination      int16
newTimeToDestination             int32
dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
scaler = StandardScaler().fit_transform(x)
# fit and transform the data
df_norm = pd.DataFrame(scaler, columns=x.columns)

df_norm

             lat      long  ...  forecastedTimeToDestination  newTimeToDestination
0       1.649069  1.404821  ...                     1.657809              1.731713
1       1.637971  1.362069  ...                     1.631246              1.704412
2       1.622709  1.314424  ...                     1.604682              1.677112
3       1.591250  1.308320  ...                     1.551554              1.622512
4       1.557957  1.307108  ...                     1.524991              1.595212
...          ...       ...  ...                          ...                   ...
107678 -1.562219 -0.236867  ...                    -1.582969             -1.571605
107679 -1.573775 -0.255202  ...                    -1.609533             -1.598905
107680 -1.581644 -0.275961  ...                    -1.609533             -1.626205
107681 -1.587643 -0.295508  ...                    -1.636097             -1.653505
107682 -1.595971 -0.327264  ...                    -1.689224             -1.708105

[107683 rows x 7 columns]

In [ ]:
X = x[["lat", "long", "sog", "cog", "hdg"]]
y = x["newTimeToDestination"]

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

regressor = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y)
x.dtypes

lat                            float32
long                           float32
sog                            float32
cog                            float32
hdg                              int32
forecastedTimeToDestination      int16
newTimeToDestination             int32
dtype: object

In [ ]:



regModel = regressor.fit(X_train,y_train)
regModel.score(X_test,y_test)

0.9944564197192254

In [ ]:
from tensorflow.keras.layers.experimental import preprocessing
x_data = np.array(x[["lat", "long", "sog", "cog", "hdg"]])

keras_normalizer = preprocessing.Normalization(input_shape=[5,])
keras_normalizer.adapt(x_data)
tf.keras.backend.floatx()

'float32'

In [ ]:
import tensorflow as tf
from tensorflow import keras

from keras import backend as K

def coeff_determination(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square( y_true-y_pred ))
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) )
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

def build_model():
  model = keras.models.Sequential()
  model.add(keras.layers.BatchNormalization())
  model.add(keras.layers.Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
  model.add(keras.layers.Dense(64, activation='relu'))
  model.add(keras.layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=[coeff_determination])
  return model

model = build_model()
model.fit(X_train, y_train,epochs=50, batch_size=1000)

Epoch 1/50
81/81 [==============================] - 1s 3ms/step - loss: 4886.9849 - coeff_determination: -2.6512
Epoch 2/50
81/81 [==============================] - 0s 3ms/step - loss: 2360.0213 - coeff_determination: -0.7612
Epoch 3/50
81/81 [==============================] - 0s 3ms/step - loss: 233.0664 - coeff_determination: 0.8263
Epoch 4/50
81/81 [==============================] - 0s 3ms/step - loss: 47.0156 - coeff_determination: 0.9649
Epoch 5/50
81/81 [==============================] - 0s 3ms/step - loss: 32.8240 - coeff_determination: 0.9754
Epoch 6/50
81/81 [==============================] - 0s 3ms/step - loss: 23.3187 - coeff_determination: 0.9827
Epoch 7/50
81/81 [==============================] - 0s 3ms/step - loss: 18.8631 - coeff_determination: 0.9859
Epoch 8/50
81/81 [==============================] - 0s 3ms/step - loss: 16.8155 - coeff_determination: 0.9875
Epoch 9/50
81/81 [==============================] - 0s 3ms/step - loss: 14.6293 - coeff_determination: 0.9891
Epoch 10/50
81/81 [==============================] - 0s 3ms/step - loss: 13.7050 - coeff_determination: 0.9898
Epoch 11/50
81/81 [==============================] - 0s 3ms/step - loss: 12.3020 - coeff_determination: 0.9908
Epoch 12/50
81/81 [==============================] - 0s 3ms/step - loss: 12.3703 - coeff_determination: 0.9908
Epoch 13/50
81/81 [==============================] - 0s 3ms/step - loss: 11.4596 - coeff_determination: 0.9914
Epoch 14/50
81/81 [==============================] - 0s 3ms/step - loss: 10.6953 - coeff_determination: 0.9920
Epoch 15/50
81/81 [==============================] - 0s 3ms/step - loss: 10.7121 - coeff_determination: 0.9920
Epoch 16/50
81/81 [==============================] - 0s 3ms/step - loss: 10.4661 - coeff_determination: 0.9922
Epoch 17/50
81/81 [==============================] - 0s 3ms/step - loss: 10.2712 - coeff_determination: 0.9924
Epoch 18/50
81/81 [==============================] - 0s 3ms/step - loss: 10.4650 - coeff_determination: 0.9922
Epoch 19/50
81/81 [==============================] - 0s 3ms/step - loss: 10.6881 - coeff_determination: 0.9920
Epoch 20/50
81/81 [==============================] - 0s 3ms/step - loss: 10.3119 - coeff_determination: 0.9923
Epoch 21/50
81/81 [==============================] - 0s 3ms/step - loss: 10.8212 - coeff_determination: 0.9919
Epoch 22/50
81/81 [==============================] - 0s 3ms/step - loss: 10.1211 - coeff_determination: 0.9924
Epoch 23/50
81/81 [==============================] - 0s 3ms/step - loss: 9.9848 - coeff_determination: 0.9925
Epoch 24/50
81/81 [==============================] - 0s 3ms/step - loss: 9.7839 - coeff_determination: 0.9927
Epoch 25/50
81/81 [==============================] - 0s 3ms/step - loss: 10.0634 - coeff_determination: 0.9925
Epoch 26/50
81/81 [==============================] - 0s 3ms/step - loss: 10.1863 - coeff_determination: 0.9923
Epoch 27/50
81/81 [==============================] - 0s 3ms/step - loss: 8.8635 - coeff_determination: 0.9933
Epoch 28/50
81/81 [==============================] - 0s 3ms/step - loss: 9.6335 - coeff_determination: 0.9928
Epoch 29/50
81/81 [==============================] - 0s 3ms/step - loss: 9.2494 - coeff_determination: 0.9931
Epoch 30/50
81/81 [==============================] - 0s 3ms/step - loss: 10.0277 - coeff_determination: 0.9925
Epoch 31/50
81/81 [==============================] - 0s 3ms/step - loss: 8.6222 - coeff_determination: 0.9935
Epoch 32/50
81/81 [==============================] - 0s 3ms/step - loss: 9.3462 - coeff_determination: 0.9930
Epoch 33/50
81/81 [==============================] - 0s 3ms/step - loss: 9.4328 - coeff_determination: 0.9929
Epoch 34/50
81/81 [==============================] - 0s 3ms/step - loss: 9.4707 - coeff_determination: 0.9929
Epoch 35/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7000 - coeff_determination: 0.9935
Epoch 36/50
81/81 [==============================] - 0s 3ms/step - loss: 9.6317 - coeff_determination: 0.9928
Epoch 37/50
81/81 [==============================] - 0s 3ms/step - loss: 9.7333 - coeff_determination: 0.9927
Epoch 38/50
81/81 [==============================] - 0s 3ms/step - loss: 8.8957 - coeff_determination: 0.9934
Epoch 39/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7769 - coeff_determination: 0.9934
Epoch 40/50
81/81 [==============================] - 0s 3ms/step - loss: 8.3339 - coeff_determination: 0.9938
Epoch 41/50
81/81 [==============================] - 0s 3ms/step - loss: 8.6536 - coeff_determination: 0.9935
Epoch 42/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9187 - coeff_determination: 0.9933
Epoch 43/50
81/81 [==============================] - 0s 3ms/step - loss: 8.5929 - coeff_determination: 0.9935
Epoch 44/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9717 - coeff_determination: 0.9933
Epoch 45/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9583 - coeff_determination: 0.9933
Epoch 46/50
81/81 [==============================] - 0s 3ms/step - loss: 8.4482 - coeff_determination: 0.9937
Epoch 47/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7248 - coeff_determination: 0.9935
Epoch 48/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9136 - coeff_determination: 0.9933
Epoch 49/50
81/81 [==============================] - 0s 3ms/step - loss: 8.8004 - coeff_determination: 0.9935
Epoch 50/50
81/81 [==============================] - 0s 3ms/step - loss: 9.2520 - coeff_determination: 0.9931

In [ ]:
textDF = x.iloc[X_test.index]
textDF

              lat       long  ...  forecastedTimeToDestination  newTimeToDestination
14620   59.745899  24.781099  ...                           59                    55
28224   59.519402  24.728201  ...                           18                    16
24375   59.609299  24.666201  ...                           33                    32
31983   60.097698  24.900600  ...                          119                   115
34581   59.910999  24.856100  ...                           86                    82
...           ...        ...  ...                          ...                   ...
93964   59.633900  24.684500  ...                           37                    37
10360   60.067001  24.894899  ...                          113                   103
57492   60.077900  24.898001  ...                          115                   112
103919  59.449799  24.777300  ...                            4                     2
66904   59.681198  24.740101  ...                           46                    49

[26921 rows x 7 columns]

In [ ]:
from sklearn.metrics import r2_score
r2_score(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

0.9870245243492161

In [ ]:
testDataPrediction = regModel.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
testDataPrediction

array([ 55.58,  16.42,  32.78, ..., 110.81,   2.89,  46.7 ])

In [ ]:
neuralPrediction = model.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
neuralPrediction = [num[0] for num in neuralPrediction.tolist()]
neuralPrediction

In [ ]:
r2_score(y_test, neuralPrediction)

0.9932860284888829

In [ ]:
from sklearn.metrics import max_error
max_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

40

In [ ]:
max_error(y_test, testDataPrediction)

41.72

In [ ]:
max_error(y_test, neuralPrediction)

43.35503387451172

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

2.803016232680807

In [ ]:
mean_absolute_error(y_test, testDataPrediction)

1.4882840232709107

In [ ]:
mean_absolute_error(y_test, neuralPrediction)

1.8580291248183518

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(y=neuralPrediction[0:50],
                    mode='lines',
                    name='Model Predicted ETA'))
fig.add_trace(go.Scatter(y=y_test[0:50],
                    mode='lines',
                    fill='tozeroy',
                    name='True ETA'))

fig.add_trace(go.Scatter(y=textDF['forecastedTimeToDestination'][0:50],
                    mode='lines',
                    name= 'Data Calculated ETA'))

fig.show()

In [ ]:
!pip install tensorflowjs
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, "helsinkiTripETA")

In [ ]:
from tensorflow.keras.models import Model

In [ ]:
input_img = keras.Input(shape=(5,))

encoder = tf.keras.Sequential([
  keras.layers.BatchNormalization(),
  keras.layers.Dense(4, activation="relu"),
  keras.layers.Dense(2, activation="relu")])(input_img)

decoder = tf.keras.Sequential([
  keras.layers.Dense(2, activation="relu"),
  keras.layers.Dense(5)])(encoder)

autoencoder = keras.Model(input_img, decoder)
  
autoencoder.compile(optimizer='adam', loss='mae')
autoencoder.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
sequential_15 (Sequential)   (None, 2)                 54
_________________________________________________________________
sequential_16 (Sequential)   (None, 5)                 21
=================================================================
Total params: 75
Trainable params: 65
Non-trainable params: 10
_________________________________________________________________

In [ ]:
history = autoencoder.fit(X_train, X_train, 
          epochs=50, 
          batch_size=100,
          validation_data=(X_test, X_test),
          shuffle=True)

Epoch 1/50
808/808 [==============================] - 2s 2ms/step - loss: 84.2709 - val_loss: 6.6473
Epoch 2/50
808/808 [==============================] - 1s 1ms/step - loss: 3.6685 - val_loss: 2.5353
Epoch 3/50
808/808 [==============================] - 1s 1ms/step - loss: 2.5284 - val_loss: 2.1994
Epoch 4/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4744 - val_loss: 2.0910
Epoch 5/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4347 - val_loss: 2.2937
Epoch 6/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4063 - val_loss: 2.0067
Epoch 7/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3760 - val_loss: 2.3432
Epoch 8/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4211 - val_loss: 2.0431
Epoch 9/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3580 - val_loss: 2.1308
Epoch 10/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3201 - val_loss: 1.9614
Epoch 11/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3271 - val_loss: 2.0708
Epoch 12/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3155 - val_loss: 2.0355
Epoch 13/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3430 - val_loss: 1.9721
Epoch 14/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2719 - val_loss: 1.9095
Epoch 15/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2481 - val_loss: 1.9327
Epoch 16/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2423 - val_loss: 1.8835
Epoch 17/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2500 - val_loss: 1.8258
Epoch 18/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2004 - val_loss: 2.0022
Epoch 19/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2163 - val_loss: 1.8503
Epoch 20/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1851 - val_loss: 1.8200
Epoch 21/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1468 - val_loss: 1.9284
Epoch 22/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1440 - val_loss: 1.9413
Epoch 23/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1770 - val_loss: 1.7455
Epoch 24/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1730 - val_loss: 1.8053
Epoch 25/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0889 - val_loss: 1.8588
Epoch 26/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1299 - val_loss: 1.7806
Epoch 27/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0800 - val_loss: 1.6986
Epoch 28/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0606 - val_loss: 1.7121
Epoch 29/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0445 - val_loss: 1.6694
Epoch 30/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0644 - val_loss: 1.7705
Epoch 31/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0210 - val_loss: 1.7952
Epoch 32/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0226 - val_loss: 1.8610
Epoch 33/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9933 - val_loss: 1.6427
Epoch 34/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0093 - val_loss: 1.6028
Epoch 35/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9595 - val_loss: 1.6090
Epoch 36/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9306 - val_loss: 1.6528
Epoch 37/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9695 - val_loss: 1.6945
Epoch 38/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9919 - val_loss: 1.5257
Epoch 39/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8837 - val_loss: 1.5055
Epoch 40/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9001 - val_loss: 1.5288
Epoch 41/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9193 - val_loss: 1.7080
Epoch 42/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8870 - val_loss: 1.5231
Epoch 43/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8511 - val_loss: 1.4762
Epoch 44/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8555 - val_loss: 1.6070
Epoch 45/50
808/808 [==============================] - 1s 1ms/step - loss: 1.7998 - val_loss: 1.4624
Epoch 46/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8073 - val_loss: 1.4176
Epoch 47/50
808/808 [==============================] - 1s 1ms/step - loss: 1.7845 - val_loss: 1.4075
Epoch 48/50
808/808 [==============================] - 1s 1ms/step - loss: 1.7891 - val_loss: 1.4453
Epoch 49/50
808/808 [==============================] - 1s 1ms/step - loss: 1.7408 - val_loss: 1.4191
Epoch 50/50
808/808 [==============================] - 1s 1ms/step - loss: 1.7312 - val_loss: 1.3529

In [ ]:
reconstructions = autoencoder.predict(X_train)
train_loss = tf.keras.losses.mae(reconstructions, X_train)
train_loss

<tf.Tensor: shape=(80762,), dtype=float64, numpy=
array([1.9296032 , 1.82587357, 1.73206291, ..., 0.88778687, 1.65032616,
       1.40794907])>

In [ ]:
threshold = np.mean(train_loss) + np.std(train_loss)
print("Threshold: ", threshold)

Threshold:  2.5071659276896954

In [ ]:
#reconstructions_est = autoencoder.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
#test_loss = tf.keras.losses.mae(reconstructions_est, cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]])
#threshold_est = np.mean(test_loss)
#threshold_est

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(autoencoder, "helsinkiTripHealth")

In [ ]:
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from sklearn.ensemble import IsolationForest

clf = OneClassSVM(nu=0.001)
clf.fit(x[["lat", "long", "sog", "cog", "hdg"]])

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma='scale', kernel='rbf',
            max_iter=-1, nu=0.001, shrinking=True, tol=0.001, verbose=False)

In [ ]:
outlierResult = clf.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
newlist = [item for item in outlierResult if item == -1]

print(len(newlist), len(outlierResult))

NameError: ignored

In [ ]:
initial_type = [('x', FloatTensorType([None, x[["lat", "long", "sog", "cog", "hdg"]].shape[1]]))]
onx = convert_sklearn(clf, initial_types=initial_type)

with open("helsinkiNovelty.onnx", "wb") as f:
    f.write(onx.SerializeToString())

Plot the difference between the prediction and the initial eta calculated from the data

In [ ]:
MegastarEstoniaDF.describe()

                  id        imo  ...            cog            hdg
count  131108.000000   131108.0  ...  131108.000000  131108.000000
mean   462802.231893  9773064.0  ...     104.812879     113.267543
std    266740.560642        0.0  ...     146.128513     145.096366
min      4376.000000  9773064.0  ...       0.000000       0.000000
25%    226488.000000  9773064.0  ...      11.000000      11.000000
50%    461511.500000  9773064.0  ...      18.000000      19.000000
75%    705823.750000  9773064.0  ...     339.000000     337.000000
max    912171.000000  9773064.0  ...     360.000000     511.000000

[8 rows x 7 columns]

In [ ]:
MegastarEstoniaDF = MegastarEstoniaDF.dropna(thresh=16)
MegastarEstoniaDF.reset_index(drop=True)
MegastarEstoniaDF["updated"] = pd.to_datetime(MegastarEstoniaDF["updated"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF["ata"] = pd.to_datetime(MegastarEstoniaDF["ata"], format='%Y-%m-%d %H:%M:%S')
MegastarEstoniaDF["etaSchedule"] = pd.to_datetime(MegastarEstoniaDF["etaSchedule"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF["eta"] = pd.to_datetime(MegastarEstoniaDF["eta"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF = MegastarEstoniaDF.set_index('updated', drop = False)

ArrivalIndex = MegastarEstoniaDF[MegastarEstoniaDF["ata"].notna()]

MegastarEstoniaDF["timeToDestination"] = MegastarEstoniaDF["ata"].bfill()

MegastarEstoniaDF["newTimeToDestination"] = MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["updated"]

MegastarEstoniaDF['newTimeToDestination'] = (MegastarEstoniaDF['newTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')
MegastarEstoniaDF['maximumJourneyDuration'] = ((MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["etaSchedule"]) / np.timedelta64(1, 'm')).astype('int16')
MegastarEstoniaDF['etaError'] = ((MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["eta"]) / np.timedelta64(1, 'm')).astype('int16')

MegastarEstoniaDF["forecastedTimeToDestination"] = MegastarEstoniaDF["eta"] - MegastarEstoniaDF["updated"]
MegastarEstoniaDF['forecastedTimeToDestination'] = (MegastarEstoniaDF['forecastedTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')

MegastarEstoniaDF

                         id  ... forecastedTimeToDestination
updated                      ...
2018-04-06 04:18:00    4381  ...                         125
2018-04-06 04:19:00    4382  ...                         124
2018-04-06 04:20:00    4383  ...                         124
2018-04-06 04:21:00    4385  ...                         124
2018-04-06 04:22:00    4387  ...                         124
...                     ...  ...                         ...
2019-03-15 07:25:00  912160  ...                           2
2019-03-15 07:26:00  912163  ...                           2
2019-03-15 07:27:00  912166  ...                           1
2019-03-15 07:28:00  912169  ...                           0
2019-03-15 07:29:00  912171  ...                          -1

[130025 rows x 22 columns]

In [ ]:
MegastarEstoniaDF['maximumJourneyDuration'].describe()

count    130025.000000
mean         24.086276
std         372.232203
min          -6.000000
25%           0.000000
50%           0.000000
75%           1.000000
max       15182.000000
Name: maximumJourneyDuration, dtype: float64

In [ ]:
MegastarEstoniaDF['newTimeToDestination'].describe()

count    130025.000000
mean         86.867056
std         372.093766
min           0.000000
25%          33.000000
50%          66.000000
75%         100.000000
max       15247.000000
Name: newTimeToDestination, dtype: float64

In [ ]:
MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] > 0)]["maximumJourneyDuration"].unique()

array([    2,     1,     3,     4,     5,     7,     8,    11,     6,
          10,    37,  1092,    12,  1084,     9,    29,    41,    43,
          15,   719,    25,  1079,    44,   780,   781,  1436,   356,
          57,    59,    58,   782,   779,   783,    60,   778,   784,
       15182,    13], dtype=int16)

In [ ]:
MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] == 60)]

                         id  ... forecastedTimeToDestination
updated                      ...
2018-11-15 17:22:00  567687  ...                         127
2018-11-15 17:23:00  567690  ...                         126
2018-11-15 17:23:00  567694  ...                         126
2018-11-15 17:25:00  567698  ...                         124
2018-11-15 17:26:00  567702  ...                         121
...                     ...  ...                         ...
2018-12-21 19:26:00  666269  ...                           2
2018-12-21 19:27:00  666271  ...                           2
2018-12-21 19:28:00  666273  ...                           1
2018-12-21 19:28:00  666275  ...                           1
2018-12-21 19:30:00  666277  ...                          -1

[734 rows x 22 columns]

In [ ]:
cleanedDataEstonia = MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] < 61)& (MegastarEstoniaDF["hdg"] <= 360)]
cleanedDataEstonia.describe()

                  id        imo  ...       etaError  forecastedTimeToDestination
count  127638.000000   127638.0  ...  127638.000000                127638.000000
mean   461113.318996  9773064.0  ...       1.422468                    63.865158
std    268639.725055        0.0  ...       3.383612                    39.071431
min      4381.000000  9773064.0  ...     -21.000000                   -52.000000
25%    222445.000000  9773064.0  ...       0.000000                    30.000000
50%    455491.500000  9773064.0  ...       1.000000                    64.000000
75%    710902.250000  9773064.0  ...       3.000000                    97.000000
max    912171.000000  9773064.0  ...      58.000000                   135.000000

[8 rows x 11 columns]

In [ ]:
cleanedDataEstoniaNormalArrival = cleanedDataEstonia[(cleanedDataEstonia["maximumJourneyDuration"] <= 0)]
cleanedDataEstoniaLateArrival = cleanedDataEstonia[(cleanedDataEstonia["maximumJourneyDuration"] > 30)]
cleanedDataEstoniaLateArrival

                         id  ... forecastedTimeToDestination
updated                      ...
2018-07-26 19:07:00  294469  ...                         -37
2018-07-31 10:19:00  303363  ...                         132
2018-07-31 10:20:00  303366  ...                         131
2018-07-31 10:21:00  303369  ...                         131
2018-07-31 10:22:00  303373  ...                         130
...                     ...  ...                         ...
2018-12-21 19:26:00  666269  ...                           2
2018-12-21 19:27:00  666271  ...                           2
2018-12-21 19:28:00  666273  ...                           1
2018-12-21 19:28:00  666275  ...                           1
2018-12-21 19:30:00  666277  ...                          -1

[2712 rows x 22 columns]

In [ ]:
cleanedDataEstonia[(cleanedDataEstonia["etaError"] > 0)]["etaError"].unique()

array([ 4,  3,  2,  1,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 37,
       29, 28, 27, 26, 25, 40, 39, 38, 41, 42, 43, 44, 45, 46, 17, 18, 22,
       21, 23, 24, 47, 48, 49, 50, 51, 52, 55, 53, 36, 58], dtype=int16)

In [ ]:
etaErrorCountEst = len(cleanedDataEstonia[(cleanedDataEstonia["etaError"] >= 5)].index)
totalCleanDataCountEst = len(cleanedDataEstonia.index)

import plotly.graph_objects as go

labels = ['Falsely Predicted_ETA','Total']
values = [etaErrorCountEst, totalCleanDataCountEst]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [ ]:
cleanedDataEstonia = cleanedDataEstonia[~cleanedDataEstonia.index.duplicated(keep='first')]
x_est = cleanedDataEstonia[["lat", "long", "sog", "cog", "hdg","forecastedTimeToDestination","newTimeToDestination"]].reset_index(drop=True)
x_est = x_est.astype({'lat': 'float32', 'long': 'float32', 'sog': 'float32', 'cog': 'float32','hdg': 'int32', 'newTimeToDestination': 'int32'})
x_est.dtypes

lat                            float32
long                           float32
sog                            float32
cog                            float32
hdg                              int32
forecastedTimeToDestination      int16
newTimeToDestination             int32
dtype: object

In [ ]:
X = x_est[["lat", "long", "sog", "cog", "hdg"]]
y = x_est["newTimeToDestination"]

from sklearn.model_selection import train_test_split
#from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

regressor_est = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
regModel_est = regressor_est.fit(X_train,y_train)
#regModel.score(X_test,y_test)
regModel_est.score(X_train,y_train)

0.9991345992379255

In [ ]:
x_data = np.array(X)

keras_normalizer = preprocessing.Normalization(input_shape=[5,])
keras_normalizer.adapt(x_data)

In [ ]:
def build_model():
  model = keras.models.Sequential()
  model.add(keras.layers.BatchNormalization())
  model.add(keras.layers.Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
  model.add(keras.layers.Dense(64, activation='relu'))
  model.add(keras.layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=[coeff_determination])
  return model

model = build_model()
model.fit(X_train, y_train, epochs=50, batch_size=1000)

Epoch 1/50
83/83 [==============================] - 1s 3ms/step - loss: 5268.8510 - coeff_determination: -2.6477
Epoch 2/50
83/83 [==============================] - 0s 3ms/step - loss: 2089.9854 - coeff_determination: -0.4594
Epoch 3/50
83/83 [==============================] - 0s 3ms/step - loss: 196.6638 - coeff_determination: 0.8632
Epoch 4/50
83/83 [==============================] - 0s 3ms/step - loss: 44.5254 - coeff_determination: 0.9688
Epoch 5/50
83/83 [==============================] - 0s 3ms/step - loss: 22.1732 - coeff_determination: 0.9846
Epoch 6/50
83/83 [==============================] - 0s 3ms/step - loss: 18.0298 - coeff_determination: 0.9875
Epoch 7/50
83/83 [==============================] - 0s 3ms/step - loss: 16.4205 - coeff_determination: 0.9886
Epoch 8/50
83/83 [==============================] - 0s 3ms/step - loss: 15.4106 - coeff_determination: 0.9893
Epoch 9/50
83/83 [==============================] - 0s 3ms/step - loss: 16.7574 - coeff_determination: 0.9884
Epoch 10/50
83/83 [==============================] - 0s 3ms/step - loss: 15.7990 - coeff_determination: 0.9890
Epoch 11/50
83/83 [==============================] - 0s 3ms/step - loss: 15.9987 - coeff_determination: 0.9889
Epoch 12/50
83/83 [==============================] - 0s 3ms/step - loss: 15.4295 - coeff_determination: 0.9893
Epoch 13/50
83/83 [==============================] - 0s 3ms/step - loss: 14.0128 - coeff_determination: 0.9903
Epoch 14/50
83/83 [==============================] - 0s 3ms/step - loss: 13.9021 - coeff_determination: 0.9903
Epoch 15/50
83/83 [==============================] - 0s 3ms/step - loss: 13.3993 - coeff_determination: 0.9907
Epoch 16/50
83/83 [==============================] - 0s 3ms/step - loss: 13.5783 - coeff_determination: 0.9906
Epoch 17/50
83/83 [==============================] - 0s 3ms/step - loss: 14.5037 - coeff_determination: 0.9899
Epoch 18/50
83/83 [==============================] - 0s 3ms/step - loss: 13.9518 - coeff_determination: 0.9904
Epoch 19/50
83/83 [==============================] - 0s 3ms/step - loss: 12.7256 - coeff_determination: 0.9911
Epoch 20/50
83/83 [==============================] - 0s 3ms/step - loss: 13.2491 - coeff_determination: 0.9908
Epoch 21/50
83/83 [==============================] - 0s 3ms/step - loss: 12.5507 - coeff_determination: 0.9913
Epoch 22/50
83/83 [==============================] - 0s 3ms/step - loss: 13.1053 - coeff_determination: 0.9909
Epoch 23/50
83/83 [==============================] - 0s 2ms/step - loss: 12.4054 - coeff_determination: 0.9914
Epoch 24/50
83/83 [==============================] - 0s 3ms/step - loss: 13.2717 - coeff_determination: 0.9908
Epoch 25/50
83/83 [==============================] - 0s 3ms/step - loss: 12.5597 - coeff_determination: 0.9913
Epoch 26/50
83/83 [==============================] - 0s 3ms/step - loss: 14.2259 - coeff_determination: 0.9902
Epoch 27/50
83/83 [==============================] - 0s 3ms/step - loss: 13.1142 - coeff_determination: 0.9909
Epoch 28/50
83/83 [==============================] - 0s 3ms/step - loss: 12.7187 - coeff_determination: 0.9912
Epoch 29/50
83/83 [==============================] - 0s 3ms/step - loss: 12.9642 - coeff_determination: 0.9911
Epoch 30/50
83/83 [==============================] - 0s 3ms/step - loss: 12.3292 - coeff_determination: 0.9915
Epoch 31/50
83/83 [==============================] - 0s 3ms/step - loss: 13.1057 - coeff_determination: 0.9909
Epoch 32/50
83/83 [==============================] - 0s 3ms/step - loss: 12.5360 - coeff_determination: 0.9913
Epoch 33/50
83/83 [==============================] - 0s 3ms/step - loss: 11.9373 - coeff_determination: 0.9918
Epoch 34/50
83/83 [==============================] - 0s 3ms/step - loss: 13.7341 - coeff_determination: 0.9905
Epoch 35/50
83/83 [==============================] - 0s 3ms/step - loss: 13.5500 - coeff_determination: 0.9906
Epoch 36/50
83/83 [==============================] - 0s 3ms/step - loss: 12.2178 - coeff_determination: 0.9915
Epoch 37/50
83/83 [==============================] - 0s 3ms/step - loss: 13.2762 - coeff_determination: 0.9908
Epoch 38/50
83/83 [==============================] - 0s 3ms/step - loss: 11.9166 - coeff_determination: 0.9917
Epoch 39/50
83/83 [==============================] - 0s 3ms/step - loss: 12.3208 - coeff_determination: 0.9914
Epoch 40/50
83/83 [==============================] - 0s 3ms/step - loss: 12.4639 - coeff_determination: 0.9914
Epoch 41/50
83/83 [==============================] - 0s 3ms/step - loss: 12.6626 - coeff_determination: 0.9913
Epoch 42/50
83/83 [==============================] - 0s 3ms/step - loss: 12.6487 - coeff_determination: 0.9912
Epoch 43/50
83/83 [==============================] - 0s 3ms/step - loss: 11.4318 - coeff_determination: 0.9921
Epoch 44/50
83/83 [==============================] - 0s 3ms/step - loss: 11.6472 - coeff_determination: 0.9919
Epoch 45/50
83/83 [==============================] - 0s 3ms/step - loss: 13.3392 - coeff_determination: 0.9908
Epoch 46/50
83/83 [==============================] - 0s 3ms/step - loss: 12.7411 - coeff_determination: 0.9912
Epoch 47/50
83/83 [==============================] - 0s 3ms/step - loss: 11.4533 - coeff_determination: 0.9920
Epoch 48/50
83/83 [==============================] - 0s 3ms/step - loss: 12.9572 - coeff_determination: 0.9910
Epoch 49/50
83/83 [==============================] - 0s 3ms/step - loss: 11.6624 - coeff_determination: 0.9920
Epoch 50/50
83/83 [==============================] - 0s 3ms/step - loss: 11.5028 - coeff_determination: 0.9920

In [ ]:
regModel_est.score(X_test,y_test)

0.9932176374284873

In [ ]:
textDF = x_est.iloc[X_test.index]
textDF

              lat       long  ...  forecastedTimeToDestination  newTimeToDestination
95444   60.101700  24.901100  ...                           17                    16
30962   60.110500  24.903799  ...                           12                    14
73967   59.559200  24.714399  ...                          106                   108
36553   60.133701  24.906700  ...                            7                     8
87100   59.446201  24.772400  ...                          133                   129
...           ...        ...  ...                          ...                   ...
80868   59.448898  24.776100  ...                          130                   131
88028   59.499802  24.757200  ...                          116                   111
44378   59.894600  24.857300  ...                           49                    50
15104   59.842300  24.827801  ...                           57                    59
108008  60.046299  24.897499  ...                           26                    26

[27663 rows x 7 columns]

In [ ]:
from sklearn.metrics import r2_score
r2_score(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

0.9898145630908876

In [ ]:
testDataPrediction = regModel_est.predict(X_test)
testDataPrediction

array([ 16.77,  13.61, 106.62, ...,  50.6 ,  58.93,  25.51])

In [ ]:
neuralPrediction = model.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
neuralPrediction = [num[0] for num in neuralPrediction.tolist()]
neuralPrediction

[15.961471557617188,
 14.634687423706055,
 108.12442779541016,
 12.506771087646484,
 130.3538360595703,
 49.47147750854492,
 4.564352989196777,
 114.1380386352539,
 110.10283660888672,
 97.15888214111328,
 77.146484375,
 4.751723289489746,
 111.7743911743164,
 86.99324798583984,
 2.3728315830230713,
 33.88402557373047,
 22.948326110839844,
 102.11019897460938,
 117.54706573486328,
 61.81759262084961,
 69.68870544433594,
 50.3810920715332,
 50.929134368896484,
 119.4544906616211,
 117.44975280761719,
 20.247922897338867,
 54.76591110229492,
 32.53342056274414,
 29.27587127685547,
 15.46387004852295,
 79.41466522216797,
 99.94135284423828,
 3.1349050998687744,
 83.19197845458984,
 34.06454849243164,
 23.91423225402832,
 96.02972412109375,
 50.2070198059082,
 64.85704803466797,
 26.867055892944336,
 23.053998947143555,
 38.5353889465332,
 37.79985427856445,
 129.2694854736328,
 61.511783599853516,
 91.09864807128906,
 96.65784454345703,
 14.904414176940918,
 112.12517547607422,
 106.98860168457031,
 89.91142272949219,
 72.66655731201172,
 95.60575103759766,
 128.209716796875,
 86.52747344970703,
 14.695834159851074,
 87.54949951171875,
 125.67790222167969,
 125.67188262939453,
 89.41593170166016,
 10.878754615783691,
 52.62590408325195,
 115.02179718017578,
 59.25010299682617,
 11.277599334716797,
 21.14832305908203,
 2.0834052562713623,
 43.7335090637207,
 40.304054260253906,
 129.4392547607422,
 10.94748306274414,
 86.70757293701172,
 101.6087417602539,
 74.74988555908203,
 51.61284255981445,
 51.89962387084961,
 39.692081451416016,
 31.986305236816406,
 1.9942306280136108,
 2.3175108432769775,
 17.235363006591797,
 71.36624145507812,
 78.6452407836914,
 6.169571399688721,
 66.55891418457031,
 122.50508880615234,
 51.310508728027344,
 31.673912048339844,
 2.4810221195220947,
 25.055034637451172,
 47.374759674072266,
 115.61595153808594,
 4.118862152099609,
 10.093619346618652,
 64.68658447265625,
 27.26865577697754,
 88.3830795288086,
 123.74801635742188,
 117.96470642089844,
 54.16227340698242,
 50.42845153808594,
 110.83820343017578,
 81.87577056884766,
 95.64371490478516,
 121.89608001708984,
 10.366018295288086,
 70.66826629638672,
 77.45752716064453,
 40.60185623168945,
 119.01534271240234,
 11.331247329711914,
 67.2813949584961,
 92.1751480102539,
 83.7386474609375,
 131.1543731689453,
 124.6201171875,
 108.50577545166016,
 103.6867904663086,
 70.04767608642578,
 33.46858215332031,
 121.3091812133789,
 114.02450561523438,
 69.8570327758789,
 29.669029235839844,
 52.80786895751953,
 14.650859832763672,
 39.95683670043945,
 14.547683715820312,
 59.15760040283203,
 112.17630767822266,
 76.98538970947266,
 10.783134460449219,
 35.45390701293945,
 41.23703384399414,
 130.66387939453125,
 14.980184555053711,
 119.6408920288086,
 91.70791625976562,
 119.33036041259766,
 121.96752166748047,
 49.81064987182617,
 35.844905853271484,
 73.41850280761719,
 110.07686614990234,
 86.15612030029297,
 108.72949981689453,
 54.363285064697266,
 85.52623748779297,
 39.21229553222656,
 125.48934173583984,
 56.10927963256836,
 111.20092010498047,
 14.454832077026367,
 80.01530456542969,
 2.095700740814209,
 31.330608367919922,
 16.374101638793945,
 57.857486724853516,
 87.2001724243164,
 69.55573272705078,
 27.104881286621094,
 51.542388916015625,
 111.92020416259766,
 27.45604705810547,
 119.01317596435547,
 73.60138702392578,
 131.1348114013672,
 4.783722400665283,
 4.549558639526367,
 39.55305099487305,
 129.4306182861328,
 114.19660949707031,
 2.2453887462615967,
 13.726612091064453,
 116.85936737060547,
 110.08960723876953,
 29.669025421142578,
 68.5005874633789,
 102.9018783569336,
 50.273616790771484,
 47.307369232177734,
 57.49839782714844,
 98.65955352783203,
 85.88079071044922,
 35.86673355102539,
 87.57666778564453,
 11.894254684448242,
 41.00380325317383,
 76.81562805175781,
 35.27235412597656,
 87.01471710205078,
 66.79725646972656,
 37.3386344909668,
 3.86808705329895,
 7.422100067138672,
 15.743698120117188,
 18.51821517944336,
 30.786396026611328,
 76.49190521240234,
 112.74652862548828,
 115.21497344970703,
 15.097555160522461,
 100.07242584228516,
 118.96202850341797,
 124.6821060180664,
 82.78115844726562,
 10.423393249511719,
 122.36991882324219,
 126.95667266845703,
 73.24408721923828,
 80.89213562011719,
 128.10813903808594,
 14.6253080368042,
 127.96964263916016,
 19.55315399169922,
 30.47048568725586,
 103.89995574951172,
 21.925601959228516,
 80.57646942138672,
 14.000117301940918,
 25.493553161621094,
 27.07685089111328,
 14.252644538879395,
 128.31573486328125,
 128.7527618408203,
 25.248552322387695,
 13.713186264038086,
 52.93328857421875,
 53.15410232543945,
 115.07532501220703,
 113.84828186035156,
 89.67033386230469,
 12.364822387695312,
 50.29938888549805,
 111.7334976196289,
 2.0324625968933105,
 98.93170928955078,
 2.582906484603882,
 9.137353897094727,
 5.2766008377075195,
 2.736704111099243,
 131.42044067382812,
 44.30282974243164,
 83.33747863769531,
 72.30950164794922,
 23.430700302124023,
 121.19551849365234,
 65.61566162109375,
 48.39179611206055,
 39.26582717895508,
 36.270809173583984,
 93.84613037109375,
 127.40565490722656,
 54.99995040893555,
 24.210988998413086,
 75.52269744873047,
 72.42332458496094,
 57.65682601928711,
 12.005354881286621,
 83.8181381225586,
 58.52543258666992,
 94.9037094116211,
 94.16417694091797,
 34.54347610473633,
 58.1799430847168,
 40.70058822631836,
 110.8924560546875,
 45.36284637451172,
 87.2801284790039,
 118.43035125732422,
 94.86328125,
 38.79106140136719,
 124.40385437011719,
 80.68492889404297,
 58.0142707824707,
 55.262760162353516,
 5.081541061401367,
 46.52669906616211,
 106.7821044921875,
 5.606448650360107,
 103.8621597290039,
 14.733841896057129,
 43.68157196044922,
 101.53800201416016,
 49.89945983886719,
 48.455081939697266,
 111.95287322998047,
 48.1132698059082,
 11.856072425842285,
 12.26812744140625,
 131.3186492919922,
 36.46360778808594,
 11.648506164550781,
 112.6571273803711,
 28.621381759643555,
 73.65550994873047,
 66.42207336425781,
 47.720821380615234,
 10.619948387145996,
 37.20039749145508,
 3.721015691757202,
 104.3750991821289,
 30.99005126953125,
 31.441829681396484,
 47.24930191040039,
 45.48727798461914,
 122.15425872802734,
 2.23915433883667,
 83.52201080322266,
 109.59774017333984,
 109.3772201538086,
 59.84062957763672,
 91.01525115966797,
 2.0117697715759277,
 72.4622573852539,
 116.44709014892578,
 5.717405319213867,
 57.46392059326172,
 96.61578369140625,
 54.4575080871582,
 67.85984802246094,
 117.1192626953125,
 2.0716707706451416,
 96.79204559326172,
 59.21053695678711,
 60.07600021362305,
 54.083065032958984,
 4.272367477416992,
 81.6617660522461,
 88.5162124633789,
 57.60215759277344,
 4.718066692352295,
 113.9371109008789,
 9.735050201416016,
 61.79514694213867,
 105.49483489990234,
 129.7416229248047,
 77.01978302001953,
 100.45153045654297,
 113.97886657714844,
 42.51774597167969,
 129.81495666503906,
 42.999210357666016,
 39.94398498535156,
 83.34779357910156,
 13.713367462158203,
 32.40525817871094,
 18.137239456176758,
 94.3748550415039,
 42.88569259643555,
 94.27788543701172,
 73.87165832519531,
 26.026784896850586,
 45.7495002746582,
 37.24254608154297,
 131.1382598876953,
 82.45301055908203,
 116.4019546508789,
 66.18636322021484,
 91.21956634521484,
 7.016084671020508,
 57.65622329711914,
 121.22399139404297,
 53.231441497802734,
 35.16093826293945,
 66.9402084350586,
 5.026845455169678,
 31.88794708251953,
 9.909536361694336,
 14.480198860168457,
 111.67377471923828,
 107.1526870727539,
 80.59679412841797,
 121.05481719970703,
 118.14550018310547,
 80.90682220458984,
 76.92779541015625,
 83.48400115966797,
 109.80355072021484,
 129.54786682128906,
 63.561405181884766,
 49.53818130493164,
 63.26541519165039,
 88.57459259033203,
 64.44877624511719,
 126.69171142578125,
 117.2987060546875,
 117.86809539794922,
 81.82506561279297,
 116.75982666015625,
 59.149513244628906,
 65.99512481689453,
 39.148582458496094,
 50.39735794067383,
 37.08530807495117,
 53.904937744140625,
 52.504398345947266,
 64.40593719482422,
 13.721026420593262,
 121.18932342529297,
 23.582149505615234,
 78.86811828613281,
 105.01312255859375,
 127.35757446289062,
 59.08534622192383,
 122.26190948486328,
 10.647247314453125,
 22.401927947998047,
 94.26551055908203,
 68.5119400024414,
 118.00253295898438,
 47.90402603149414,
 79.77429962158203,
 129.1024932861328,
 99.1001205444336,
 99.25630950927734,
 69.86251068115234,
 60.47816848754883,
 2.093519687652588,
 60.93227767944336,
 54.826541900634766,
 44.73451614379883,
 125.4228744506836,
 93.77466583251953,
 98.83463287353516,
 70.73360443115234,
 123.9232406616211,
 53.27183151245117,
 5.582465648651123,
 26.843669891357422,
 15.483346939086914,
 100.8152847290039,
 80.47562408447266,
 12.16019058227539,
 22.290597915649414,
 72.56134796142578,
 39.53023147583008,
 64.97069549560547,
 53.57699966430664,
 127.9255599975586,
 74.32386779785156,
 124.48016357421875,
 130.20700073242188,
 23.56376838684082,
 10.783370971679688,
 130.84327697753906,
 96.05467987060547,
 36.51337814331055,
 15.30656909942627,
 2.0684566497802734,
 33.466819763183594,
 46.78567123413086,
 128.16403198242188,
 26.801864624023438,
 39.938045501708984,
 84.11450958251953,
 58.4506721496582,
 60.26553726196289,
 90.14561462402344,
 74.08301544189453,
 119.90837860107422,
 40.64882278442383,
 30.206144332885742,
 73.8306655883789,
 12.215311050415039,
 6.027839660644531,
 94.53084564208984,
 15.594880104064941,
 48.65397262573242,
 80.2884750366211,
 14.707331657409668,
 24.400548934936523,
 107.66304779052734,
 28.535446166992188,
 60.505699157714844,
 34.33887481689453,
 64.54356384277344,
 131.51890563964844,
 102.75920867919922,
 109.84503936767578,
 82.54271697998047,
 2.9286694526672363,
 105.3297348022461,
 84.60189819335938,
 106.72982025146484,
 104.63738250732422,
 101.89318084716797,
 57.11323165893555,
 112.35935974121094,
 2.6300973892211914,
 118.20545959472656,
 50.47359848022461,
 74.52143096923828,
 124.25923156738281,
 46.39156723022461,
 14.98134994506836,
 96.22917938232422,
 113.95297241210938,
 88.40892028808594,
 64.65901947021484,
 103.89944458007812,
 63.612918853759766,
 15.583415031433105,
 116.7459945678711,
 67.06613159179688,
 64.9732437133789,
 129.07408142089844,
 81.13231658935547,
 27.99948501586914,
 97.32964324951172,
 127.3988265991211,
 66.31603240966797,
 11.009902954101562,
 13.345939636230469,
 23.098358154296875,
 77.4918441772461,
 50.98111343383789,
 62.98690414428711,
 10.777925491333008,
 103.58699035644531,
 94.29122161865234,
 77.77655792236328,
 106.51360321044922,
 66.56622314453125,
 101.02395629882812,
 12.389758110046387,
 70.74144744873047,
 5.383597373962402,
 50.83953857421875,
 38.35904312133789,
 49.56361389160156,
 119.2891845703125,
 121.78021240234375,
 11.3734130859375,
 122.61486053466797,
 75.4928970336914,
 2.390887498855591,
 45.64836883544922,
 122.25269317626953,
 128.7429962158203,
 68.1164321899414,
 110.13709259033203,
 44.459171295166016,
 97.77783966064453,
 73.28104400634766,
 36.82285690307617,
 91.07538604736328,
 52.50655746459961,
 98.8080062866211,
 25.5675048828125,
 16.638301849365234,
 33.35603713989258,
 36.846221923828125,
 45.42774200439453,
 122.72913360595703,
 16.65474510192871,
 38.61110305786133,
 51.1495475769043,
 43.3703727722168,
 94.12925720214844,
 92.2240219116211,
 66.9957046508789,
 3.641559362411499,
 100.77448272705078,
 62.33161926269531,
 84.07270812988281,
 31.130970001220703,
 2.050468683242798,
 14.247546195983887,
 39.731903076171875,
 29.9639892578125,
 54.230770111083984,
 123.396484375,
 105.21681213378906,
 2.1908984184265137,
 68.0071029663086,
 14.434378623962402,
 110.00252532958984,
 9.02885627746582,
 60.1932487487793,
 73.64746856689453,
 103.0629653930664,
 121.73313903808594,
 34.10914611816406,
 4.9453535079956055,
 4.006816387176514,
 72.25060272216797,
 105.1463623046875,
 82.61919403076172,
 74.74407196044922,
 111.72920989990234,
 74.58065032958984,
 49.67776870727539,
 89.69356536865234,
 81.14225006103516,
 6.9701642990112305,
 57.1253547668457,
 77.91319274902344,
 31.61202621459961,
 45.75270080566406,
 77.1504135131836,
 62.980743408203125,
 28.194862365722656,
 26.832595825195312,
 37.93401336669922,
 117.4489517211914,
 53.51283645629883,
 35.17412185668945,
 43.58549118041992,
 12.344017028808594,
 45.473506927490234,
 23.3580379486084,
 68.79281616210938,
 54.23910903930664,
 128.2592010498047,
 78.39759826660156,
 65.64178466796875,
 32.418792724609375,
 28.806303024291992,
 51.051448822021484,
 9.138731002807617,
 64.41704559326172,
 106.24813079833984,
 92.84286499023438,
 112.83399200439453,
 122.9040298461914,
 88.36229705810547,
 42.56245040893555,
 70.94869232177734,
 86.1157455444336,
 87.0377426147461,
 128.785888671875,
 14.489141464233398,
 41.81938552856445,
 106.38488006591797,
 120.80607604980469,
 100.48491668701172,
 102.6816177368164,
 12.341636657714844,
 40.03237533569336,
 22.0936336517334,
 36.778709411621094,
 123.73035430908203,
 110.14073944091797,
 17.651630401611328,
 61.35540008544922,
 77.51504516601562,
 49.63643264770508,
 2.286022901535034,
 26.544424057006836,
 44.932376861572266,
 95.69210052490234,
 118.72403717041016,
 20.180830001831055,
 62.06343460083008,
 12.727252960205078,
 111.68500518798828,
 2.0704617500305176,
 131.0843963623047,
 9.898530006408691,
 81.69068145751953,
 48.34566116333008,
 125.55091857910156,
 77.88433837890625,
 116.27589416503906,
 106.21772003173828,
 66.5458984375,
 88.00067901611328,
 58.479835510253906,
 125.38443756103516,
 131.29100036621094,
 35.003665924072266,
 123.18822479248047,
 54.1777458190918,
 47.94839096069336,
 94.53260803222656,
 122.62026977539062,
 93.9521255493164,
 89.39653778076172,
 124.34453582763672,
 108.09122467041016,
 11.412036895751953,
 27.82430648803711,
 115.4161148071289,
 73.8117904663086,
 45.40044021606445,
 70.13835906982422,
 52.950679779052734,
 118.16254425048828,
 126.27070617675781,
 2.561533212661743,
 93.57592010498047,
 102.5819320678711,
 112.44083404541016,
 26.491085052490234,
 2.3552019596099854,
 80.71717071533203,
 109.0947494506836,
 93.38921356201172,
 115.12540435791016,
 86.95752716064453,
 131.36874389648438,
 26.56945037841797,
 104.49671936035156,
 13.261610984802246,
 75.32442474365234,
 12.247836112976074,
 126.23331451416016,
 101.40227508544922,
 43.7737922668457,
 129.60377502441406,
 86.73383331298828,
 26.288148880004883,
 14.45855712890625,
 16.032669067382812,
 110.11507415771484,
 119.30741119384766,
 42.50132369995117,
 32.601806640625,
 130.74551391601562,
 74.46958923339844,
 20.226211547851562,
 67.54034423828125,
 101.21278381347656,
 102.30704498291016,
 125.15678405761719,
 52.77838897705078,
 30.952152252197266,
 93.17091369628906,
 59.766727447509766,
 53.05118942260742,
 31.506511688232422,
 109.22132110595703,
 2.0935537815093994,
 6.3303728103637695,
 27.70733642578125,
 26.842060089111328,
 53.3582878112793,
 118.4014663696289,
 43.912113189697266,
 113.61954498291016,
 45.677913665771484,
 71.2347640991211,
 124.2520523071289,
 85.15438079833984,
 16.382946014404297,
 6.1186723709106445,
 79.9540786743164,
 117.66577911376953,
 26.200204849243164,
 58.12931442260742,
 38.94570541381836,
 46.56794738769531,
 48.7698860168457,
 71.6730728149414,
 31.6436767578125,
 48.20595932006836,
 5.511197090148926,
 80.73826599121094,
 47.07228469848633,
 103.03499603271484,
 92.11488342285156,
 40.86922073364258,
 62.44169235229492,
 94.83578491210938,
 72.5982894897461,
 27.362272262573242,
 2.6420843601226807,
 37.01639938354492,
 129.2334747314453,
 35.29547119140625,
 118.80885314941406,
 42.61628341674805,
 129.46250915527344,
 115.03482055664062,
 91.95658874511719,
 38.361106872558594,
 14.953481674194336,
 2.34875750541687,
 41.09272003173828,
 58.20205307006836,
 3.8413968086242676,
 37.84174728393555,
 71.11992645263672,
 119.38793182373047,
 9.820413589477539,
 88.1484146118164,
 36.23676681518555,
 123.40322875976562,
 125.3934326171875,
 47.67623519897461,
 5.261178016662598,
 94.1354751586914,
 102.50682830810547,
 125.49229431152344,
 29.450313568115234,
 20.66915512084961,
 95.32898712158203,
 122.06929779052734,
 26.12237548828125,
 59.82072448730469,
 111.13460540771484,
 36.96308517456055,
 105.73594665527344,
 128.15956115722656,
 75.23258209228516,
 5.245832443237305,
 108.64652252197266,
 106.2892837524414,
 51.26784896850586,
 109.62862396240234,
 38.73263931274414,
 43.26288986206055,
 43.00079345703125,
 15.736759185791016,
 53.96200942993164,
 85.78885650634766,
 104.50028991699219,
 106.8608169555664,
 45.24000930786133,
 87.50330352783203,
 5.383801460266113,
 29.461544036865234,
 88.27729034423828,
 7.467012405395508,
 22.349870681762695,
 35.912784576416016,
 86.80785369873047,
 2.095703363418579,
 34.76578140258789,
 94.4037094116211,
 37.260746002197266,
 72.39051055908203,
 116.42975616455078,
 45.907859802246094,
 129.09568786621094,
 59.942848205566406,
 13.461845397949219,
 17.36382293701172,
 101.88434600830078,
 52.013309478759766,
 91.22760009765625,
 125.00704193115234,
 10.017182350158691,
 81.86473846435547,
 37.91129684448242,
 109.9127197265625,
 66.55148315429688,
 87.86766815185547,
 117.94236755371094,
 6.717799663543701,
 79.60134887695312,
 20.72473907470703,
 68.95024871826172,
 91.5621566772461,
 47.85325241088867,
 99.03423309326172,
 4.982420921325684,
 101.95147705078125,
 108.01325225830078,
 24.893882751464844,
 104.15023040771484,
 15.544818878173828,
 50.41401672363281,
 25.527862548828125,
 128.5702667236328,
 95.12403106689453,
 101.26728820800781,
 52.20787811279297,
 3.2745988368988037,
 31.762928009033203,
 47.20585632324219,
 64.84662628173828,
 99.8598861694336,
 15.741101264953613,
 80.06195831298828,
 30.796024322509766,
 79.95144653320312,
 50.81159210205078,
 75.34595489501953,
 75.49687957763672,
 43.63594436645508,
 110.08804321289062,
 104.08373260498047,
 2.0471351146698,
 14.089794158935547,
 21.455368041992188,
 2.168438673019409,
 111.33744049072266,
 46.92538833618164,
 68.2901382446289,
 114.38848114013672,
 104.85072326660156,
 2.1861751079559326,
 11.84091567993164,
 13.094522476196289,
 83.44721221923828,
 29.106245040893555,
 67.18889617919922,
 99.80679321289062,
 131.19398498535156,
 77.7562026977539,
 21.548036575317383,
 15.741915702819824,
 79.42156982421875,
 4.422641754150391,
 33.96355056762695,
 83.70265197753906,
 17.59683609008789,
 114.15621185302734,
 82.94149780273438,
 116.24687957763672,
 73.03252410888672,
 98.0894546508789,
 79.5991439819336,
 73.27069091796875,
 108.29707336425781,
 50.46491622924805,
 100.69953155517578,
 21.237926483154297,
 115.67321014404297,
 48.61366271972656,
 99.45819854736328,
 28.177688598632812,
 23.019577026367188,
 45.62228012084961,
 61.29057693481445,
 51.623748779296875,
 14.7473783493042,
 42.45942306518555,
 34.42243194580078,
 48.767398834228516,
 103.03247833251953,
 28.37479019165039,
 98.78082275390625,
 103.30358123779297,
 69.80699920654297,
 114.01062774658203,
 127.77355194091797,
 39.09965896606445,
 90.79601287841797,
 5.315775394439697,
 14.688932418823242,
 73.59127807617188,
 105.88834381103516,
 51.7266960144043,
 2.4741733074188232,
 22.266616821289062,
 2.0284974575042725,
 94.75894927978516,
 124.66747283935547,
 7.676477432250977,
 49.82773208618164,
 127.71841430664062,
 21.174360275268555,
 67.67650604248047,
 43.53841018676758,
 57.11840057373047,
 71.96623992919922,
 28.328020095825195,
 120.02755737304688,
 54.944461822509766,
 95.30695343017578,
 66.19385528564453,
 2.3135926723480225,
 86.28209686279297,
 102.93965148925781,
 58.00039291381836,
 109.6937484741211,
 117.41059875488281,
 67.66421508789062,
 124.48735809326172,
 1.9943740367889404,
 128.9262237548828,
 77.25690460205078,
 34.96239471435547,
 36.970115661621094,
 94.34593963623047,
 45.665626525878906,
 56.93406295776367,
 46.025238037109375,
 2.145353078842163,
 6.978809833526611,
 99.07208251953125,
 85.2182846069336,

In [ ]:
r2_score(y_test, neuralPrediction)

0.9925257902749338

In [ ]:
from sklearn.metrics import max_error
max_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

58

In [ ]:
max_error(y_test, testDataPrediction)

122.0

In [ ]:
max_error(y_test, neuralPrediction)

119.07133054733276

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

2.3466363011965443

In [ ]:
mean_absolute_error(y_test, testDataPrediction)

1.5056834537451607

In [ ]:
mean_absolute_error(y_test, neuralPrediction)

1.7894184348881685

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(y=neuralPrediction[0:50],
                    mode='lines',
                    name='Model Predicted ETA'))
fig.add_trace(go.Scatter(y=y_test[0:50],
                    mode='lines',
                    fill='tozeroy',
                    name='True ETA'))

fig.add_trace(go.Scatter(y=textDF['forecastedTimeToDestination'][0:50],
                    mode='lines',
                    name= 'Data Calculated ETA'))

fig.show()

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, "tallinnTripETA")

In [ ]:
from tensorflow.keras.models import Model

In [ ]:
input_img = keras.Input(shape=(5,))

encoder = tf.keras.Sequential([
  keras.layers.BatchNormalization(),
  keras.layers.Dense(4, activation="relu"),
  keras.layers.Dense(2, activation="relu")])(input_img)

decoder = tf.keras.Sequential([
  keras.layers.Dense(2, activation="relu"),
  keras.layers.Dense(5)])(encoder)

autoencoder = keras.Model(input_img, decoder)
  
autoencoder.compile(optimizer='adam', loss='mae')
autoencoder.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
sequential_18 (Sequential)   (None, 2)                 54
_________________________________________________________________
sequential_19 (Sequential)   (None, 5)                 21
=================================================================
Total params: 75
Trainable params: 65
Non-trainable params: 10
_________________________________________________________________

In [ ]:
history = autoencoder.fit(X_train, X_train, 
          epochs=50, 
          batch_size=100,
          validation_data=(X_test, X_test),
          shuffle=True)

Epoch 1/50
830/830 [==============================] - 2s 2ms/step - loss: 61.1444 - val_loss: 41.0556
Epoch 2/50
830/830 [==============================] - 1s 1ms/step - loss: 41.2299 - val_loss: 40.2014
Epoch 3/50
830/830 [==============================] - 1s 1ms/step - loss: 38.0122 - val_loss: 7.0928
Epoch 4/50
830/830 [==============================] - 1s 1ms/step - loss: 7.8256 - val_loss: 5.7340
Epoch 5/50
830/830 [==============================] - 1s 1ms/step - loss: 7.5889 - val_loss: 6.4059
Epoch 6/50
830/830 [==============================] - 1s 1ms/step - loss: 7.6040 - val_loss: 5.9227
Epoch 7/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2413 - val_loss: 5.6232
Epoch 8/50
830/830 [==============================] - 1s 1ms/step - loss: 7.4124 - val_loss: 5.7506
Epoch 9/50
830/830 [==============================] - 1s 1ms/step - loss: 7.1813 - val_loss: 5.3361
Epoch 10/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2671 - val_loss: 5.4804
Epoch 11/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2848 - val_loss: 5.6414
Epoch 12/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2500 - val_loss: 5.3648
Epoch 13/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9437 - val_loss: 5.3509
Epoch 14/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2803 - val_loss: 5.5010
Epoch 15/50
830/830 [==============================] - 1s 1ms/step - loss: 7.1855 - val_loss: 5.3383
Epoch 16/50
830/830 [==============================] - 1s 1ms/step - loss: 7.0256 - val_loss: 6.0033
Epoch 17/50
830/830 [==============================] - 1s 1ms/step - loss: 7.2866 - val_loss: 5.6375
Epoch 18/50
830/830 [==============================] - 1s 1ms/step - loss: 7.1185 - val_loss: 5.4094
Epoch 19/50
830/830 [==============================] - 1s 1ms/step - loss: 7.0269 - val_loss: 5.2646
Epoch 20/50
830/830 [==============================] - 1s 1ms/step - loss: 6.8875 - val_loss: 5.3631
Epoch 21/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9052 - val_loss: 5.2903
Epoch 22/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9102 - val_loss: 5.3437
Epoch 23/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9453 - val_loss: 5.3640
Epoch 24/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9671 - val_loss: 5.6271
Epoch 25/50
830/830 [==============================] - 1s 1ms/step - loss: 6.9124 - val_loss: 5.8543
Epoch 26/50
830/830 [==============================] - 1s 1ms/step - loss: 6.7730 - val_loss: 5.3382
Epoch 27/50
830/830 [==============================] - 1s 1ms/step - loss: 6.7516 - val_loss: 5.3425
Epoch 28/50
830/830 [==============================] - 1s 1ms/step - loss: 6.8421 - val_loss: 5.3845
Epoch 29/50
830/830 [==============================] - 1s 1ms/step - loss: 6.7538 - val_loss: 5.6346
Epoch 30/50
830/830 [==============================] - 1s 1ms/step - loss: 7.0149 - val_loss: 5.4572
Epoch 31/50
830/830 [==============================] - 1s 1ms/step - loss: 6.7637 - val_loss: 5.4793
Epoch 32/50
830/830 [==============================] - 1s 1ms/step - loss: 6.6458 - val_loss: 5.3073
Epoch 33/50
830/830 [==============================] - 1s 1ms/step - loss: 6.6497 - val_loss: 5.4185
Epoch 34/50
830/830 [==============================] - 1s 1ms/step - loss: 6.5407 - val_loss: 5.3900
Epoch 35/50
830/830 [==============================] - 1s 1ms/step - loss: 6.5038 - val_loss: 5.3513
Epoch 36/50
830/830 [==============================] - 1s 1ms/step - loss: 6.5144 - val_loss: 5.3763
Epoch 37/50
830/830 [==============================] - 1s 1ms/step - loss: 6.5868 - val_loss: 5.5363
Epoch 38/50
830/830 [==============================] - 1s 1ms/step - loss: 6.4456 - val_loss: 5.4645
Epoch 39/50
830/830 [==============================] - 1s 1ms/step - loss: 6.2925 - val_loss: 5.4700
Epoch 40/50
830/830 [==============================] - 1s 1ms/step - loss: 6.1571 - val_loss: 5.5495
Epoch 41/50
830/830 [==============================] - 1s 1ms/step - loss: 6.3521 - val_loss: 5.4158
Epoch 42/50
830/830 [==============================] - 1s 1ms/step - loss: 6.1935 - val_loss: 5.4510
Epoch 43/50
830/830 [==============================] - 1s 1ms/step - loss: 6.1923 - val_loss: 5.3341
Epoch 44/50
830/830 [==============================] - 1s 1ms/step - loss: 6.0721 - val_loss: 5.4360
Epoch 45/50
830/830 [==============================] - 1s 1ms/step - loss: 5.9836 - val_loss: 5.3691
Epoch 46/50
830/830 [==============================] - 1s 1ms/step - loss: 5.9410 - val_loss: 5.3952
Epoch 47/50
830/830 [==============================] - 1s 1ms/step - loss: 5.9705 - val_loss: 5.4874
Epoch 48/50
830/830 [==============================] - 1s 1ms/step - loss: 5.8618 - val_loss: 5.4526
Epoch 49/50
830/830 [==============================] - 1s 1ms/step - loss: 5.9484 - val_loss: 5.3469
Epoch 50/50
830/830 [==============================] - 1s 1ms/step - loss: 5.8111 - val_loss: 5.5743

In [ ]:
threshold = np.mean(train_loss) + np.std(train_loss)
print("Threshold: ", threshold)

Threshold:  2.5071659276896954

In [ ]:
#reconstructions_est = autoencoder.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
#test_loss = tf.keras.losses.mae(reconstructions_est, cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]])
#threshold_est = np.mean(test_loss)
#threshold_est

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(autoencoder, "tallinnTripHealth")

In [ ]:
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from sklearn.ensemble import IsolationForest

#cleanedDataEstoniaNormalArrival = cleanedDataEstoniaNormalArrival[~cleanedDataEstoniaNormalArrival.index.duplicated(keep='first')]
#x_est = cleanedDataEstoniaNormalArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True)
clf = LocalOutlierFactor(novelty= True, contamination=0.001)
clf.fit(x_est[["lat", "long", "sog", "cog", "hdg"]])
x_est

In [ ]:
outlierResult = clf.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
newlist = [item for item in outlierResult if item == -1]

print(len(newlist), len(outlierResult))

In [ ]:

#from sklearn import preprocessing
#scaler = preprocessing.MinMaxScaler();
#x1 = scaler.fit_transform(x)
#x = pd.DataFrame(x1, columns=["lat", "long", "sog", "cog", "hdg","newTimeToDestination"])

In [ ]:
#x2 = scaler.inverse_transform(x1)
#x2



1.   Data is not balanced, should try NOVELTY DETECTION or use python SMOGYN
2.   Check for overfitting

1.   Investigate the possibility of live training of data by batches

2.   Use Max error, MSE, to prove that my model is better than default ()
1.   Deploy the model to browser using onnx.js, then you can talk about edge computing during the presentation
2.   Issue https://github.com/tensorflow/tfjs/issues/4626

1.   Issue https://github.com/tensorflow/tfjs/issues/3786
2.   List item

In [ ]:
# Convert into ONNX format
!pip install skl2onnx

from skl2onnx import convert_sklearn, to_onnx
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('x', FloatTensorType([None, X_train.shape[1]]))]
onx = convert_sklearn(regModel, initial_types=initial_type)

with open("helsinkiJourneyLin.onnx", "wb") as f:
    f.write(onx.SerializeToString())