In [ ]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from sklearn.svm import SVC

In [ ]:

!pip install statsmodels --upgrade
!pip install scipy --upgrade

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/da/69/8eef30a6237c54f3c0b524140e2975f4b1eea3489b45eb3339574fc8acee/statsmodels-0.12.2-cp37-cp37m-manylinux1_x86_64.whl (9.5MB)
     |████████████████████████████████| 9.5MB 5.4MB/s
Requirement already satisfied, skipping upgrade: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.19.5)
Requirement already satisfied, skipping upgrade: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.1)
Requirement already satisfied, skipping upgrade: pandas>=0.21 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.1.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21->statsmodels) (2.8.1)
Installing collected packages: statsmodels
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed statsmodels-0.12.2
Collecting scipy
  Downloading https://files.pythonhosted.org/packages/7d/e8/43ffca541d2f208d516296950b25fe1084b35c2881f4d444c1346ca75815/scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4MB)
     |████████████████████████████████| 27.4MB 115kB/s
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: scipy
  Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
Successfully installed scipy-1.6.3

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data/finestapi_tracking_db.csv")
df

            id           updated  ...               eta  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25  NaN
3         4139  05/04/2018 19:21  ...  05/04/2018 21:26  NaN
4         4140  05/04/2018 19:22  ...  05/04/2018 21:25  NaN
...        ...               ...  ...               ...  ...
823667  912179  15/03/2019 07:36  ...  15/03/2019 09:02  NaN
823668  912180  15/03/2019 07:37  ...  15/03/2019 09:02  NaN
823669  912181  15/03/2019 07:38  ...  15/03/2019 09:02  NaN
823670  912182  15/03/2019 07:39  ...  15/03/2019 09:02  NaN
823671  912183  15/03/2019 07:40  ...  15/03/2019 09:02  NaN

[823672 rows x 17 columns]

In [ ]:
 df.describe()

                  id           imo  ...            cog            hdg
count  823672.000000  8.236720e+05  ...  823672.000000  823672.000000
mean   462795.350583  9.401429e+06  ...     149.432205     156.911632
std    266273.511015  2.798543e+05  ...     111.171883     110.111634
min      4136.000000  8.919805e+06  ...       0.000000       0.000000
25%    228046.500000  9.214379e+06  ...      22.000000      23.000000
50%    463107.500000  9.364722e+06  ...     180.000000     183.000000
75%    696270.250000  9.773064e+06  ...     202.000000     204.000000
max    912183.000000  9.773064e+06  ...     360.000000     511.000000

[8 rows x 7 columns]

In [ ]:
df["imo"].unique()

array([9773064, 9364722, 8919805, 9214379])

In [ ]:
MegastarDF = df[df["imo"] == 9773064]
MegastarDF

            id           updated  ...               eta                  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25                  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25                  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25                  NaN
4         4140  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
6         4142  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
...        ...               ...  ...               ...                  ...
823651  912163  15/03/2019 07:26  ...  15/03/2019 07:28                  NaN
823654  912166  15/03/2019 07:27  ...  15/03/2019 07:28                  NaN
823657  912169  15/03/2019 07:28  ...  15/03/2019 07:28                  NaN
823659  912171  15/03/2019 07:29  ...  15/03/2019 07:28  2019-03-15 07:29:11
823661  912173  15/03/2019 07:55  ...  15/03/2019 10:30                  NaN

[258132 rows x 17 columns]

In [ ]:
MegastarDF.describe()

                  id        imo  ...            cog            hdg
count  258132.000000   258132.0  ...  258132.000000  258132.000000
mean   465259.047503  9773064.0  ...     145.074826     149.602901
std    265886.142359        0.0  ...     112.578630     110.441577
min      4136.000000  9773064.0  ...       0.000000       0.000000
25%    230640.500000  9773064.0  ...      18.000000      19.000000
50%    467135.500000  9773064.0  ...     180.000000     182.000000
75%    705966.500000  9773064.0  ...     200.000000     201.000000
max    912173.000000  9773064.0  ...     360.000000     511.000000

[8 rows x 7 columns]

# **Dividing the Journey Type into 2**

In [ ]:
MegastarFinlandDF = MegastarDF[MegastarDF["depPort"] == "FIHEL"]
MegastarEstoniaDF = MegastarDF[MegastarDF["depPort"] == "EETLL"]
MegastarFinlandDF

            id           updated  ...               eta                  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25                  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25                  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25                  NaN
4         4140  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
6         4142  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
...        ...               ...  ...               ...                  ...
823210  911722  14/03/2019 22:23  ...  14/03/2019 22:27                  NaN
823212  911724  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
823214  911726  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
823216  911728  14/03/2019 22:26  ...  14/03/2019 22:27  2019-03-14 22:26:05
823661  912173  15/03/2019 07:55  ...  15/03/2019 10:30                  NaN

[127024 rows x 17 columns]

# **Cleaning the data by Removing Null values**

In [ ]:
MegastarFinlandDF = MegastarFinlandDF.dropna(thresh=16)
MegastarFinlandDF

            id           updated  ...               eta                  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25                  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25                  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25                  NaN
4         4140  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
6         4142  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
...        ...               ...  ...               ...                  ...
823208  911720  14/03/2019 22:22  ...  14/03/2019 22:26                  NaN
823210  911722  14/03/2019 22:23  ...  14/03/2019 22:27                  NaN
823212  911724  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
823214  911726  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
823216  911728  14/03/2019 22:26  ...  14/03/2019 22:27  2019-03-14 22:26:05

[125939 rows x 17 columns]

In [ ]:
MegastarFinlandDF.dtypes
MegastarFinlandDF.reset_index(drop=True)

            id           updated  ...               eta                  ata
0         4136  05/04/2018 19:18  ...  05/04/2018 21:25                  NaN
1         4137  05/04/2018 19:19  ...  05/04/2018 21:25                  NaN
2         4138  05/04/2018 19:20  ...  05/04/2018 21:25                  NaN
3         4140  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
4         4142  05/04/2018 19:22  ...  05/04/2018 21:25                  NaN
...        ...               ...  ...               ...                  ...
125934  911720  14/03/2019 22:22  ...  14/03/2019 22:26                  NaN
125935  911722  14/03/2019 22:23  ...  14/03/2019 22:27                  NaN
125936  911724  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
125937  911726  14/03/2019 22:24  ...  14/03/2019 22:27                  NaN
125938  911728  14/03/2019 22:26  ...  14/03/2019 22:27  2019-03-14 22:26:05

[125939 rows x 17 columns]

# **Converting time features from string to Time Format**

In [ ]:
from datetime import datetime
MegastarFinlandDF["updated"] = pd.to_datetime(MegastarFinlandDF["updated"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF["ata"] = pd.to_datetime(MegastarFinlandDF["ata"], format='%Y-%m-%d %H:%M:%S')
MegastarFinlandDF["etaSchedule"] = pd.to_datetime(MegastarFinlandDF["etaSchedule"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF["eta"] = pd.to_datetime(MegastarFinlandDF["eta"], format='%d/%m/%Y %H:%M')
MegastarFinlandDF = MegastarFinlandDF.set_index('updated', drop = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# **Calculating the time left to destination for use in Prediction**

In [ ]:
ArrivalIndex = MegastarFinlandDF[MegastarFinlandDF["ata"].notna()]
#ArrivalIndex.index
ArrivalIndex["ata"]
MegastarFinlandDF["timeToDestination"] = MegastarFinlandDF["ata"].bfill()
MegastarFinlandDF["2018-04-05"]

                       id  ...   timeToDestination
updated                    ...
2018-04-05 19:18:00  4136  ... 2018-04-05 21:24:41
2018-04-05 19:19:00  4137  ... 2018-04-05 21:24:41
2018-04-05 19:20:00  4138  ... 2018-04-05 21:24:41
2018-04-05 19:22:00  4140  ... 2018-04-05 21:24:41
2018-04-05 19:22:00  4142  ... 2018-04-05 21:24:41
...                   ...  ...                 ...
2018-04-05 21:20:00  4365  ... 2018-04-05 21:24:41
2018-04-05 21:21:00  4367  ... 2018-04-05 21:24:41
2018-04-05 21:22:00  4369  ... 2018-04-05 21:24:41
2018-04-05 21:23:00  4372  ... 2018-04-05 21:24:41
2018-04-05 21:24:00  4374  ... 2018-04-05 21:24:41

[118 rows x 18 columns]

In [ ]:

MegastarFinlandDF["newTimeToDestination"] = MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["updated"]
MegastarFinlandDF

                         id  ... newTimeToDestination
updated                      ...
2018-04-05 19:18:00    4136  ...      0 days 02:06:41
2018-04-05 19:19:00    4137  ...      0 days 02:05:41
2018-04-05 19:20:00    4138  ...      0 days 02:04:41
2018-04-05 19:22:00    4140  ...      0 days 02:02:41
2018-04-05 19:22:00    4142  ...      0 days 02:02:41
...                     ...  ...                  ...
2019-03-14 22:22:00  911720  ...      0 days 00:04:05
2019-03-14 22:23:00  911722  ...      0 days 00:03:05
2019-03-14 22:24:00  911724  ...      0 days 00:02:05
2019-03-14 22:24:00  911726  ...      0 days 00:02:05
2019-03-14 22:26:00  911728  ...      0 days 00:00:05

[125939 rows x 19 columns]

In [ ]:
MegastarFinlandDF['newTimeToDestination'] = (MegastarFinlandDF['newTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')
MegastarFinlandDF['maximumJourneyDuration'] = ((MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["etaSchedule"]) / np.timedelta64(1, 'm')).astype('int16')
MegastarFinlandDF['etaError'] = ((MegastarFinlandDF["timeToDestination"] - MegastarFinlandDF["eta"]) / np.timedelta64(1, 'm')).astype('int16')

MegastarFinlandDF["forecastedTimeToDestination"] = MegastarFinlandDF["eta"] - MegastarFinlandDF["updated"]
MegastarFinlandDF['forecastedTimeToDestination'] = (MegastarFinlandDF['forecastedTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')

MegastarFinlandDF

                         id  ... forecastedTimeToDestination
updated                      ...
2018-04-05 19:18:00    4136  ...                         127
2018-04-05 19:19:00    4137  ...                         126
2018-04-05 19:20:00    4138  ...                         125
2018-04-05 19:22:00    4140  ...                         123
2018-04-05 19:22:00    4142  ...                         123
...                     ...  ...                         ...
2019-03-14 22:22:00  911720  ...                           4
2019-03-14 22:23:00  911722  ...                           4
2019-03-14 22:24:00  911724  ...                           3
2019-03-14 22:24:00  911726  ...                           3
2019-03-14 22:26:00  911728  ...                           1

[125939 rows x 22 columns]

In [ ]:

MegastarFinlandDF['maximumJourneyDuration'].describe()

count    125939.000000
mean         -0.740581
std          53.850868
min         -11.000000
25%          -5.000000
50%          -3.000000
75%          -2.000000
max        1440.000000
Name: maximumJourneyDuration, dtype: float64

In [ ]:
MegastarFinlandDF[(MegastarFinlandDF["maximumJourneyDuration"] > 0)]["maximumJourneyDuration"].unique()

array([   1,  714, 1436,   13,   12,   28,  775,  715,    2,   10,  157,
          9,  742,   22,   21,  718, 1437, 1440,   34,    3,    4],
      dtype=int16)

#### From further analysis we can determinw that delays greater than 34 minutes is an anomaly cause by missing data and the data point with 21 minute delay has no prior history as only the arrival time is recorded

In [ ]:

cleanedData = MegastarFinlandDF[(MegastarFinlandDF["maximumJourneyDuration"] < 35)& (MegastarFinlandDF["maximumJourneyDuration"] != 21)]
cleanedData.describe()

                  id        imo  ...       etaError  forecastedTimeToDestination
count  125520.000000   125520.0  ...  125520.000000                125520.000000
mean   468221.440511  9773064.0  ...      -1.336496                    64.575765
std    265342.569826        0.0  ...       3.401425                    37.600269
min      4136.000000  9773064.0  ...     -25.000000                   -39.000000
25%    234471.500000  9773064.0  ...      -3.000000                    32.000000
50%    473692.000000  9773064.0  ...      -1.000000                    64.000000
75%    707034.500000  9773064.0  ...       0.000000                    96.000000
max    911728.000000  9773064.0  ...      48.000000                   136.000000

[8 rows x 11 columns]

In [ ]:
cleanedData[(cleanedData["etaError"] > 0)]["etaError"].unique()

array([ 1,  2,  3,  4, 10, 12, 11, 18,  5,  7,  6, 13, 25, 27, 26, 28, 29,
       30,  9, 14, 15, 42,  8, 22, 38, 39, 40, 48, 47], dtype=int16)

# **Plotting the falsely predicted ETA error greater than 5 minutes from Raw Data**

In [ ]:
etaErrorCount = len(cleanedData[(cleanedData["etaError"] >= 5)].index)
totalCleanDataCount = len(cleanedData.index)

import plotly.graph_objects as go

labels = ['Falsely Predicted_ETA','Total']
values = [etaErrorCount, totalCleanDataCount]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [ ]:
cleanedData[(cleanedData["etaError"] == 30)]

                         id  ... forecastedTimeToDestination
updated                      ...
2018-08-01 20:38:00  306550  ...                          50
2018-08-01 20:38:00  306553  ...                          50
2018-08-01 20:39:00  306556  ...                          49
2018-08-01 20:40:00  306559  ...                          48
2018-08-01 20:41:00  306562  ...                          47
2018-08-01 20:42:00  306565  ...                          46
2018-08-01 20:44:00  306568  ...                          44
2018-08-01 20:45:00  306571  ...                          43
2018-08-01 20:47:00  306576  ...                          41
2018-08-01 20:48:00  306579  ...                          40
2018-08-01 20:49:00  306582  ...                          39
2018-08-01 20:49:00  306585  ...                          39
2018-08-01 20:50:00  306588  ...                          38
2018-08-01 20:51:00  306591  ...                          37
2018-08-01 20:53:00  306594  ...                          35
2018-08-01 20:54:00  306598  ...                          34
2018-08-01 20:55:00  306600  ...                          33
2018-08-01 20:56:00  306602  ...                          32
2018-08-01 20:58:00  306604  ...                          30
2018-08-01 20:59:00  306606  ...                          29
2018-08-01 21:00:00  306608  ...                          28
2018-08-01 21:01:00  306609  ...                          27
2018-08-01 21:02:00  306612  ...                          26
2018-08-01 21:03:00  306614  ...                          25
2018-08-01 21:04:00  306616  ...                          24
2018-08-01 21:05:00  306618  ...                          23
2018-08-01 21:06:00  306620  ...                          22
2018-08-01 21:07:00  306622  ...                          21
2018-08-01 21:08:00  306624  ...                          20
2018-08-01 21:09:00  306626  ...                          19
2018-08-01 21:11:00  306628  ...                          17
2018-08-01 21:12:00  306630  ...                          16
2018-08-01 21:13:00  306632  ...                          15
2018-08-01 21:14:00  306634  ...                          14
2018-08-01 21:58:00  306636  ...                         -30

[35 rows x 22 columns]

# **Ship Heading should never be greater than 360, so remove all Headings greater than 360**

In [ ]:
cleanedData[cleanedData["hdg"] > 360]

                         id  ... forecastedTimeToDestination
updated                      ...
2018-09-20 14:35:00  430608  ...                          52
2018-09-20 14:35:00  430610  ...                          51

[2 rows x 22 columns]

In [ ]:
cleanedData["2018-09-20 14:35:00"]["hdg"] = 190
cleanedData["2018-09-20 14:35:00"]
# Changed the heading to same value as COG

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         id  ... forecastedTimeToDestination
updated                      ...
2018-09-20 14:35:00  430608  ...                          52
2018-09-20 14:35:00  430610  ...                          51

[2 rows x 22 columns]

In [ ]:
cleanedData = cleanedData[~cleanedData.index.duplicated(keep='first')]

# **Changing the Data Type of each of the Column we will be using for Prediction**

In [ ]:
x = cleanedData[["lat", "long", "sog", "cog", "hdg","forecastedTimeToDestination","newTimeToDestination"]].reset_index(drop=True)
x = x.astype({'lat': 'float32', 'long': 'float32', 'sog': 'float32', 'cog': 'float32','hdg': 'int32', 'newTimeToDestination': 'int32'})
x.dtypes

lat                            float32
long                           float32
sog                            float32
cog                            float32
hdg                              int32
forecastedTimeToDestination      int16
newTimeToDestination             int32
dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
scaler = StandardScaler().fit_transform(x)
# fit and transform the data
df_norm = pd.DataFrame(scaler, columns=x.columns)

#df_norm

# **Splitting the Data into Training Data and Test Data**

In [ ]:
X = x[["lat", "long", "sog", "cog", "hdg"]]
y = x["newTimeToDestination"]

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression


X_train, X_test, y_train, y_test = train_test_split(X, y)
x.dtypes

lat                            float32
long                           float32
sog                            float32
cog                            float32
hdg                              int32
forecastedTimeToDestination      int16
newTimeToDestination             int32
dtype: object

## **Initial Training with Machine Learning**

In [ ]:
regressor = RandomForestRegressor()

regModel = regressor.fit(X_train,y_train)
regModel.score(X_test,y_test)

0.9940185783078197

# **Training with Deep Learning using Keras/Tensorflow**

In [ ]:
import tensorflow as tf
from tensorflow import keras

from keras import backend as K

def coeff_determination(y_true, y_pred):
    from keras import backend as K
    SS_res =  K.sum(K.square( y_true-y_pred ))
    SS_tot = K.sum(K.square( y_true - K.mean(y_true) ) )
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

def build_model():
  model = keras.models.Sequential()
  model.add(keras.layers.BatchNormalization())
  model.add(keras.layers.Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
  model.add(keras.layers.Dense(64, activation='relu'))
  model.add(keras.layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=[coeff_determination])
  return model

model = build_model()
model.fit(X_train, y_train,epochs=50, batch_size=1000)

Epoch 1/50
81/81 [==============================] - 1s 3ms/step - loss: 4920.6025 - coeff_determination: -2.6531
Epoch 2/50
81/81 [==============================] - 0s 4ms/step - loss: 2262.4685 - coeff_determination: -0.6912
Epoch 3/50
81/81 [==============================] - 0s 3ms/step - loss: 178.0319 - coeff_determination: 0.8674
Epoch 4/50
81/81 [==============================] - 0s 3ms/step - loss: 49.7865 - coeff_determination: 0.9629
Epoch 5/50
81/81 [==============================] - 0s 3ms/step - loss: 30.8261 - coeff_determination: 0.9770
Epoch 6/50
81/81 [==============================] - 0s 3ms/step - loss: 21.9503 - coeff_determination: 0.9837
Epoch 7/50
81/81 [==============================] - 0s 3ms/step - loss: 17.4266 - coeff_determination: 0.9870
Epoch 8/50
81/81 [==============================] - 0s 3ms/step - loss: 15.0946 - coeff_determination: 0.9888
Epoch 9/50
81/81 [==============================] - 0s 3ms/step - loss: 13.2640 - coeff_determination: 0.9901
Epoch 10/50
81/81 [==============================] - 0s 3ms/step - loss: 12.8543 - coeff_determination: 0.9904
Epoch 11/50
81/81 [==============================] - 0s 3ms/step - loss: 11.9022 - coeff_determination: 0.9912
Epoch 12/50
81/81 [==============================] - 0s 3ms/step - loss: 11.0765 - coeff_determination: 0.9918
Epoch 13/50
81/81 [==============================] - 0s 3ms/step - loss: 10.4984 - coeff_determination: 0.9922
Epoch 14/50
81/81 [==============================] - 0s 3ms/step - loss: 10.1236 - coeff_determination: 0.9925
Epoch 15/50
81/81 [==============================] - 0s 3ms/step - loss: 9.9129 - coeff_determination: 0.9926
Epoch 16/50
81/81 [==============================] - 0s 3ms/step - loss: 10.4229 - coeff_determination: 0.9923
Epoch 17/50
81/81 [==============================] - 0s 3ms/step - loss: 11.5915 - coeff_determination: 0.9913
Epoch 18/50
81/81 [==============================] - 0s 3ms/step - loss: 9.9150 - coeff_determination: 0.9927
Epoch 19/50
81/81 [==============================] - 0s 3ms/step - loss: 9.3542 - coeff_determination: 0.9931
Epoch 20/50
81/81 [==============================] - 0s 3ms/step - loss: 10.4602 - coeff_determination: 0.9922
Epoch 21/50
81/81 [==============================] - 0s 3ms/step - loss: 9.3351 - coeff_determination: 0.9930
Epoch 22/50
81/81 [==============================] - 0s 3ms/step - loss: 10.0419 - coeff_determination: 0.9925
Epoch 23/50
81/81 [==============================] - 0s 3ms/step - loss: 9.8235 - coeff_determination: 0.9928
Epoch 24/50
81/81 [==============================] - 0s 3ms/step - loss: 9.3383 - coeff_determination: 0.9930
Epoch 25/50
81/81 [==============================] - 0s 3ms/step - loss: 9.5276 - coeff_determination: 0.9930
Epoch 26/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0869 - coeff_determination: 0.9933
Epoch 27/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9110 - coeff_determination: 0.9934
Epoch 28/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7828 - coeff_determination: 0.9935
Epoch 29/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0271 - coeff_determination: 0.9933
Epoch 30/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9912 - coeff_determination: 0.9933
Epoch 31/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0245 - coeff_determination: 0.9933
Epoch 32/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0465 - coeff_determination: 0.9933
Epoch 33/50
81/81 [==============================] - 0s 3ms/step - loss: 8.9336 - coeff_determination: 0.9934
Epoch 34/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7451 - coeff_determination: 0.9935
Epoch 35/50
81/81 [==============================] - 0s 3ms/step - loss: 9.3581 - coeff_determination: 0.9931
Epoch 36/50
81/81 [==============================] - 0s 3ms/step - loss: 9.2725 - coeff_determination: 0.9931
Epoch 37/50
81/81 [==============================] - 0s 3ms/step - loss: 8.4450 - coeff_determination: 0.9937
Epoch 38/50
81/81 [==============================] - 0s 3ms/step - loss: 9.2213 - coeff_determination: 0.9931
Epoch 39/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7586 - coeff_determination: 0.9935
Epoch 40/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0532 - coeff_determination: 0.9933
Epoch 41/50
81/81 [==============================] - 0s 3ms/step - loss: 8.7124 - coeff_determination: 0.9935
Epoch 42/50
81/81 [==============================] - 0s 3ms/step - loss: 8.4202 - coeff_determination: 0.9937
Epoch 43/50
81/81 [==============================] - 0s 3ms/step - loss: 9.4668 - coeff_determination: 0.9930
Epoch 44/50
81/81 [==============================] - 0s 3ms/step - loss: 9.0564 - coeff_determination: 0.9932
Epoch 45/50
81/81 [==============================] - 0s 3ms/step - loss: 8.8784 - coeff_determination: 0.9934
Epoch 46/50
81/81 [==============================] - 0s 3ms/step - loss: 8.8587 - coeff_determination: 0.9934
Epoch 47/50
81/81 [==============================] - 0s 3ms/step - loss: 8.1582 - coeff_determination: 0.9939
Epoch 48/50
81/81 [==============================] - 0s 3ms/step - loss: 8.5767 - coeff_determination: 0.9936
Epoch 49/50
81/81 [==============================] - 0s 3ms/step - loss: 8.2086 - coeff_determination: 0.9939
Epoch 50/50
81/81 [==============================] - 0s 3ms/step - loss: 9.5057 - coeff_determination: 0.9929

In [ ]:
textDF = x.iloc[X_test.index]
textDF

             lat       long  ...  forecastedTimeToDestination  newTimeToDestination
52474  59.687500  24.693001  ...                           46                    44
71869  60.122002  24.905199  ...                          120                   118
32237  59.792500  24.804100  ...                           66                    63
52275  59.528900  24.721201  ...                           20                    20
51581  59.815601  24.750900  ...                           70                    67
...          ...        ...  ...                          ...                   ...
17248  59.699200  24.761600  ...                           51                    48
39166  59.573101  24.685699  ...                           28                    56
74952  59.915798  24.862900  ...                           84                    86
3500   59.863998  24.819500  ...                           78                    75
36697  59.662399  24.718800  ...                           44                    43

[26921 rows x 7 columns]

# **Evaluating the Accuracy of the Built Model**

In [ ]:
from sklearn.metrics import r2_score
r2_score(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

0.9863922633710732

In [ ]:
testDataPrediction = regModel.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
testDataPrediction

array([ 46.85, 118.05,  62.47, ...,  86.39,  75.53,  42.13])

In [ ]:
neuralPrediction = model.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
neuralPrediction = [num[0] for num in neuralPrediction.tolist()]
neuralPrediction

[45.72426986694336,
 116.50834655761719,
 61.852108001708984,
 18.42550277709961,
 64.0699691772461,
 32.85150909423828,
 5.104448318481445,
 28.1167049407959,
 109.06422424316406,
 33.80376052856445,
 52.71782684326172,
 50.890377044677734,
 52.04464340209961,
 1.3689930438995361,
 120.0819091796875,
 83.85142517089844,
 64.24298858642578,
 105.74307250976562,
 105.40684509277344,
 25.300220489501953,
 36.74516296386719,
 0.8840593695640564,
 123.23016357421875,
 98.96865844726562,
 109.52793884277344,
 44.59440994262695,
 49.392330169677734,
 75.96060180664062,
 86.11439514160156,
 106.83374786376953,
 109.75968933105469,
 121.89718627929688,
 43.72101593017578,
 119.91595458984375,
 50.09255599975586,
 69.05059814453125,
 77.29474639892578,
 61.40932083129883,
 77.91111755371094,
 53.266517639160156,
 48.92399978637695,
 35.91647720336914,
 16.05617332458496,
 111.65608215332031,
 84.33509063720703,
 60.724937438964844,
 88.29763793945312,
 121.53912353515625,
 65.72453308105469,
 115.75411224365234,
 67.15048217773438,
 113.79042053222656,
 64.20752716064453,
 0.8253657221794128,
 37.92472457885742,
 49.36995315551758,
 63.3753776550293,
 35.31858825683594,
 74.5154800415039,
 31.252979278564453,
 60.23603057861328,
 89.72510528564453,
 69.5458984375,
 41.117183685302734,
 104.04966735839844,
 26.79009437561035,
 88.71434020996094,
 49.88234329223633,
 96.46853637695312,
 77.14193725585938,
 91.96448516845703,
 78.59860229492188,
 117.62269592285156,
 4.3688859939575195,
 85.86820983886719,
 33.33336639404297,
 29.534191131591797,
 92.81343078613281,
 41.578887939453125,
 85.07142639160156,
 0.8178443312644958,
 113.576416015625,
 104.3465576171875,
 36.74172592163086,
 54.107357025146484,
 40.70688247680664,
 119.82402038574219,
 72.81745910644531,
 53.136905670166016,
 5.22246789932251,
 112.66477966308594,
 15.29690933227539,
 114.32231140136719,
 2.825878858566284,
 4.309430122375488,
 29.62967872619629,
 78.62183380126953,
 100.04364776611328,
 54.05509567260742,
 91.03617858886719,
 55.86343765258789,
 54.6576042175293,
 31.399198532104492,
 48.91046142578125,
 52.14728927612305,
 29.12839126586914,
 13.750092506408691,
 53.33360290527344,
 107.03561401367188,
 51.87384033203125,
 19.259864807128906,
 38.54372787475586,
 1.4135775566101074,
 115.27181243896484,
 114.43148803710938,
 58.26268768310547,
 55.67397689819336,
 14.291440963745117,
 81.28099060058594,
 94.18517303466797,
 40.05219268798828,
 28.78681182861328,
 45.72151565551758,
 49.69233322143555,
 96.0425796508789,
 32.398799896240234,
 110.59585571289062,
 55.39630889892578,
 30.141151428222656,
 1.176539659500122,
 118.3965072631836,
 41.219478607177734,
 112.5199203491211,
 88.70097351074219,
 50.10890579223633,
 65.51915740966797,
 94.07368469238281,
 31.646686553955078,
 30.89234733581543,
 92.09003448486328,
 79.62210845947266,
 88.69252014160156,
 101.27040100097656,
 17.426298141479492,
 117.50892639160156,
 110.54102325439453,
 11.8912353515625,
 94.10107421875,
 104.07597351074219,
 121.20223236083984,
 14.264456748962402,
 95.27217102050781,
 62.41674041748047,
 97.41268920898438,
 12.61900520324707,
 18.09231185913086,
 74.43866729736328,
 108.90391540527344,
 54.61771774291992,
 64.80435180664062,
 37.3304557800293,
 121.89952087402344,
 122.22598266601562,
 110.78457641601562,
 33.83974838256836,
 19.542736053466797,
 93.58528137207031,
 101.19953918457031,
 60.89443588256836,
 22.56692886352539,
 67.43803405761719,
 111.01548767089844,
 81.50684356689453,
 57.68753433227539,
 22.19186782836914,
 30.700180053710938,
 27.050020217895508,
 120.07872009277344,
 57.55075454711914,
 30.591472625732422,
 110.52958679199219,
 34.60502624511719,
 28.58687400817871,
 0.7996141314506531,
 84.6382064819336,
 72.33843231201172,
 43.473411560058594,
 78.66978454589844,
 113.83663940429688,
 114.11360168457031,
 41.64087677001953,
 4.165581703186035,
 10.370482444763184,
 0.025044143199920654,
 75.44699096679688,
 114.6231689453125,
 22.228347778320312,
 13.89826488494873,
 27.782114028930664,
 9.647064208984375,
 26.5994930267334,
 116.06278991699219,
 41.81364059448242,
 54.188209533691406,
 120.0426025390625,
 59.0570068359375,
 3.497258186340332,
 26.537906646728516,
 -0.2841084599494934,
 112.52874755859375,
 4.918876647949219,
 64.71228790283203,
 8.71635627746582,
 92.42796325683594,
 20.582740783691406,
 43.753910064697266,
 12.019417762756348,
 66.65423583984375,
 48.415409088134766,
 68.41447448730469,
 33.108699798583984,
 78.4122314453125,
 47.53818893432617,
 87.34222412109375,
 37.3651123046875,
 18.264427185058594,
 23.662307739257812,
 35.56032943725586,
 25.445037841796875,
 92.88107299804688,
 1.2358551025390625,
 65.92076110839844,
 81.63335418701172,
 1.3562049865722656,
 3.4857025146484375,
 56.08206558227539,
 118.42476654052734,
 0.48425477743148804,
 99.18635559082031,
 62.57097244262695,
 113.53666687011719,
 52.88873291015625,
 16.811477661132812,
 75.28546142578125,
 95.38825988769531,
 62.05904006958008,
 114.82232666015625,
 111.78688049316406,
 10.186397552490234,
 31.648426055908203,
 117.79292297363281,
 6.928360462188721,
 28.643936157226562,
 121.17988586425781,
 1.194016456604004,
 57.07833480834961,
 108.08685302734375,
 95.89120483398438,
 46.32515335083008,
 50.92194366455078,
 59.635311126708984,
 6.207629203796387,
 27.585081100463867,
 51.51853942871094,
 115.50691986083984,
 74.28303527832031,
 28.858417510986328,
 28.6544246673584,
 54.0943603515625,
 56.60018539428711,
 10.339977264404297,
 100.87980651855469,
 79.89335632324219,
 7.298466682434082,
 64.51058959960938,
 110.2401123046875,
 17.912494659423828,
 40.23284912109375,
 109.87260437011719,
 104.49835205078125,
 9.449678421020508,
 69.13442993164062,
 88.39720916748047,
 5.807482719421387,
 60.41073226928711,
 105.29267883300781,
 12.319557189941406,
 5.532777786254883,
 9.193126678466797,
 54.79850769042969,
 100.28699493408203,
 105.19236755371094,
 66.82571411132812,
 36.28205108642578,
 120.38273620605469,
 59.11937713623047,
 116.53239440917969,
 39.82307815551758,
 1.0900037288665771,
 0.6005260348320007,
 45.32415771484375,
 86.52156066894531,
 47.434783935546875,
 84.46467590332031,
 76.33619689941406,
 85.9566650390625,
 85.98246765136719,
 -0.8943274617195129,
 18.04712677001953,
 28.697689056396484,
 92.22737121582031,
 87.69998931884766,
 80.71644592285156,
 94.61344909667969,
 82.16868591308594,
 45.642574310302734,
 37.678611755371094,
 50.75485610961914,
 47.54274368286133,
 90.43614959716797,
 68.54910278320312,
 39.11357498168945,
 23.886308670043945,
 91.04313659667969,
 117.59211730957031,
 69.54421997070312,
 50.64558792114258,
 122.89665222167969,
 112.23163604736328,
 66.8328628540039,
 27.338886260986328,
 122.68231964111328,
 65.70133209228516,
 53.49995422363281,
 55.62582015991211,
 6.487189292907715,
 108.58273315429688,
 39.72061538696289,
 109.88888549804688,
 15.758633613586426,
 70.204833984375,
 70.03240966796875,
 1.1148829460144043,
 34.49479675292969,
 21.718704223632812,
 54.59120178222656,
 63.70125961303711,
 39.809574127197266,
 120.02166748046875,
 100.30854034423828,
 70.0209732055664,
 21.166976928710938,
 28.588157653808594,
 24.903560638427734,
 50.90677261352539,
 69.67449951171875,
 60.70859146118164,
 81.87274169921875,
 45.58781051635742,
 35.45502471923828,
 106.52172088623047,
 64.0877914428711,
 77.76496887207031,
 51.7033576965332,
 40.695953369140625,
 111.19639587402344,
 97.94285583496094,
 88.52029418945312,
 59.147186279296875,
 33.0600700378418,
 116.15560913085938,
 56.57369613647461,
 84.48872375488281,
 75.5799560546875,
 69.98858642578125,
 0.028320729732513428,
 49.23453140258789,
 98.15099334716797,
 31.571414947509766,
 33.6395378112793,
 72.74720764160156,
 97.49028015136719,
 13.988214492797852,
 53.59732437133789,
 14.545801162719727,
 93.15985107421875,
 64.78092193603516,
 80.79061889648438,
 51.977359771728516,
 88.44320678710938,
 87.8992919921875,
 57.42391586303711,
 60.250667572021484,
 29.994592666625977,
 14.534424781799316,
 35.607933044433594,
 105.69657897949219,
 115.94093322753906,
 36.286556243896484,
 22.058006286621094,
 7.5214643478393555,
 116.89028930664062,
 51.41606521606445,
 69.87876892089844,
 105.74613952636719,
 46.79732131958008,
 54.84624481201172,
 61.081119537353516,
 91.63127136230469,
 94.62286376953125,
 70.286865234375,
 121.5097427368164,
 8.197545051574707,
 6.856716156005859,
 93.88931274414062,
 39.99907302856445,
 107.61875915527344,
 90.4051513671875,
 44.31033706665039,
 9.226394653320312,
 33.90927505493164,
 29.861064910888672,
 28.69597816467285,
 84.26718139648438,
 0.4093553423881531,
 14.604598999023438,
 106.3366928100586,
 85.0416030883789,
 72.75430297851562,
 123.78591918945312,
 116.52790069580078,
 61.27995681762695,
 116.4161376953125,
 114.416015625,
 79.48904418945312,
 9.003582954406738,
 79.79515075683594,
 17.28821563720703,
 10.944961547851562,
 76.73332214355469,
 81.49299621582031,
 42.936031341552734,
 120.06517028808594,
 96.87223815917969,
 52.79428482055664,
 33.68213653564453,
 48.55826950073242,
 76.42948150634766,
 97.47718048095703,
 123.22801208496094,
 25.021034240722656,
 119.05815124511719,
 67.15550231933594,
 0.728641927242279,
 36.36946487426758,
 20.06580352783203,
 105.92372131347656,
 22.860904693603516,
 55.235782623291016,
 88.0110092163086,
 114.97538757324219,
 35.127811431884766,
 123.81260681152344,
 16.148822784423828,
 45.473426818847656,
 86.03614807128906,
 116.33125305175781,
 83.57366943359375,
 28.353851318359375,
 90.70478820800781,
 67.09831237792969,
 71.29078674316406,
 103.6368179321289,
 17.01301383972168,
 29.99784278869629,
 96.39166259765625,
 91.496826171875,
 54.85643768310547,
 102.8831787109375,
 0.9157378077507019,
 0.5147671103477478,
 113.67214965820312,
 72.11553192138672,
 40.37606430053711,
 119.89018249511719,
 23.383955001831055,
 70.07293701171875,
 29.318302154541016,
 114.5828857421875,
 67.99722290039062,
 61.96485137939453,
 40.5445671081543,
 37.67018508911133,
 25.005809783935547,
 122.77345275878906,
 119.9361572265625,
 111.3942642211914,
 48.19258117675781,
 44.71239471435547,
 52.61373519897461,
 49.50419998168945,
 62.81861877441406,
 62.424312591552734,
 11.580866813659668,
 123.30491638183594,
 102.23515319824219,
 21.90422821044922,
 107.53960418701172,
 74.62313079833984,
 100.23310852050781,
 120.24940490722656,
 101.15762329101562,
 23.63821029663086,
 44.66690444946289,
 17.060075759887695,
 119.52314758300781,
 29.450132369995117,
 114.23506164550781,
 115.26026916503906,
 112.02886199951172,
 67.82783508300781,
 85.1708984375,
 115.34004211425781,
 47.81609344482422,
 34.91684341430664,
 -0.3999529480934143,
 3.1786131858825684,
 96.85789489746094,
 100.50712585449219,
 65.88776397705078,
 19.846040725708008,
 24.124771118164062,
 48.40530014038086,
 8.172207832336426,
 73.63212585449219,
 36.80751419067383,
 64.92808532714844,
 72.95565795898438,
 77.21687316894531,
 122.87410736083984,
 29.42444610595703,
 41.37843704223633,
 15.027457237243652,
 47.383243560791016,
 6.337953567504883,
 103.95550537109375,
 18.39807891845703,
 107.24034118652344,
 68.65357971191406,
 71.31295776367188,
 64.78917694091797,
 68.4050064086914,
 111.66462707519531,
 21.31264877319336,
 117.07034301757812,
 93.50924682617188,
 7.417900085449219,
 59.698883056640625,
 14.779464721679688,
 45.106266021728516,
 23.015363693237305,
 20.755273818969727,
 58.35856246948242,
 72.7955093383789,
 11.895925521850586,
 1.6938996315002441,
 58.45220184326172,
 42.29747009277344,
 91.1572036743164,
 94.95738983154297,
 35.25051498413086,
 1.946115493774414,
 77.41314697265625,
 3.4306509494781494,
 116.20596313476562,
 49.95309066772461,
 112.5002212524414,
 113.4991455078125,
 116.7293930053711,
 61.945682525634766,
 40.77236557006836,
 31.025362014770508,
 69.27256774902344,
 13.10687255859375,
 74.0970458984375,
 68.1844711303711,
 61.609004974365234,
 86.14350891113281,
 109.87541198730469,
 64.98451232910156,
 32.432281494140625,
 87.37621307373047,
 32.019989013671875,
 13.278173446655273,
 65.61949157714844,
 43.1890983581543,
 108.796630859375,
 112.15399169921875,
 50.020015716552734,
 26.17282485961914,
 51.75167465209961,
 9.376667976379395,
 32.51654052734375,
 70.24980926513672,
 10.035419464111328,
 75.8094482421875,
 62.09400939941406,
 41.684024810791016,
 102.50785827636719,
 45.53364181518555,
 17.321807861328125,
 99.50537109375,
 49.293155670166016,
 91.06398010253906,
 58.14468765258789,
 31.0316219329834,
 95.20672607421875,
 93.18262481689453,
 72.95625305175781,
 119.47554016113281,
 121.09210205078125,
 84.26460266113281,
 96.0845947265625,
 111.42770385742188,
 44.99754333496094,
 6.641961097717285,
 91.83055114746094,
 19.521224975585938,
 41.7149543762207,
 122.99658966064453,
 39.9749755859375,
 61.61092758178711,
 9.546911239624023,
 79.50762939453125,
 76.03074645996094,
 49.135345458984375,
 6.408733367919922,
 119.65132141113281,
 75.4350357055664,
 43.942012786865234,
 21.09036636352539,
 88.41312408447266,
 33.390777587890625,
 86.68730163574219,
 85.32568359375,
 45.434791564941406,
 6.460904121398926,
 59.89994430541992,
 53.888702392578125,
 51.0307502746582,
 57.90658187866211,
 78.02565002441406,
 53.04905319213867,
 31.215911865234375,
 62.92125701904297,
 87.75987243652344,
 37.69572830200195,
 4.280579090118408,
 4.122960090637207,
 71.48506164550781,
 67.74501037597656,
 65.89776611328125,
 113.39022827148438,
 122.19590759277344,
 83.87694549560547,
 83.35679626464844,
 58.99538803100586,
 7.205522060394287,
 117.05401611328125,
 86.08399963378906,
 60.641170501708984,
 10.362051010131836,
 0.3626999258995056,
 82.1661605834961,
 0.3037871718406677,
 8.011357307434082,
 81.77009582519531,
 49.63303756713867,
 54.99140548706055,
 72.06591796875,
 47.33527755737305,
 47.504573822021484,
 121.0440902709961,
 59.860355377197266,
 75.12944030761719,
 99.297119140625,
 79.93541717529297,
 45.592708587646484,
 32.85129165649414,
 62.75304412841797,
 66.29647064208984,
 10.948028564453125,
 29.46210289001465,
 55.05155944824219,
 8.084954261779785,
 85.20570373535156,
 9.32577896118164,
 54.03122329711914,
 104.83929443359375,
 36.0707893371582,
 49.179691314697266,
 20.724712371826172,
 87.65706634521484,
 4.2682785987854,
 60.051639556884766,
 73.02705383300781,
 33.727535247802734,
 76.77566528320312,
 42.14179611206055,
 38.754093170166016,
 71.7177734375,
 70.63240051269531,
 110.61161804199219,
 8.88802433013916,
 96.40658569335938,
 43.16151428222656,
 66.98255920410156,
 75.04175567626953,
 28.64220428466797,
 0.7989949584007263,
 111.23513793945312,
 29.29505729675293,
 0.959502637386322,
 15.392983436584473,
 88.29603576660156,
 7.826827049255371,
 63.36391830444336,
 73.24160766601562,
 91.40486907958984,
 73.03218841552734,
 105.41874694824219,
 16.622312545776367,
 59.755950927734375,
 27.64578628540039,
 75.85466003417969,
 17.07626724243164,
 82.11027526855469,
 3.9752964973449707,
 35.2636604309082,
 99.08766174316406,
 86.6983642578125,
 29.703826904296875,
 114.72508239746094,
 49.873897552490234,
 112.4194564819336,
 1.1839566230773926,
 95.49678039550781,
 116.61759185791016,
 20.15377426147461,
 19.957317352294922,
 41.99344253540039,
 2.001479387283325,
 84.81170654296875,
 23.805553436279297,
 66.67388916015625,
 77.52862548828125,
 91.63404846191406,
 84.36622619628906,
 36.300533294677734,
 44.28811264038086,
 107.03547668457031,
 117.55857849121094,
 115.53257751464844,
 36.821651458740234,
 46.58247375488281,
 80.67453002929688,
 85.70523834228516,
 62.426719665527344,
 51.22404861450195,
 94.46339416503906,
 70.264892578125,
 37.829837799072266,
 59.713985443115234,
 111.42225646972656,
 120.29147338867188,
 53.58064651489258,
 55.476131439208984,
 75.81831359863281,
 59.10922622680664,
 110.76515197753906,
 118.30656433105469,
 92.13826751708984,
 4.220296382904053,
 1.9538829326629639,
 27.630939483642578,
 32.012237548828125,
 96.15478515625,
 25.011730194091797,
 107.83341217041016,
 48.89284896850586,
 1.2483837604522705,
 67.23574829101562,
 21.505971908569336,
 25.111793518066406,
 112.59001159667969,
 12.734159469604492,
 41.81464767456055,
 103.41220092773438,
 52.5947151184082,
 88.1300048828125,
 46.75019073486328,
 35.84062576293945,
 82.41317749023438,
 31.84284210205078,
 100.61090087890625,
 5.102223873138428,
 18.12529182434082,
 119.92693328857422,
 80.79193115234375,
 7.252923965454102,
 108.48841094970703,
 2.050405263900757,
 14.629817962646484,
 109.09829711914062,
 84.00698852539062,
 29.329151153564453,
 122.6164779663086,
 60.72431182861328,
 116.61820983886719,
 93.56464385986328,
 58.144100189208984,
 49.615535736083984,
 47.427921295166016,
 87.36819458007812,
 6.239030361175537,
 60.05378341674805,
 5.8734307289123535,
 0.8558222651481628,
 62.88187026977539,
 101.5436782836914,
 88.48029327392578,
 120.28688049316406,
 23.849414825439453,
 88.64449310302734,
 122.05192565917969,
 59.78190231323242,
 59.899105072021484,
 36.19523620605469,
 28.144521713256836,
 72.23838806152344,
 43.097721099853516,
 19.66911506652832,
 70.69560241699219,
 113.81231689453125,
 91.84158325195312,
 114.04727172851562,
 14.789850234985352,
 -0.15614157915115356,
 117.3080062866211,
 33.20859146118164,
 79.51558685302734,
 122.59691619873047,
 13.957879066467285,
 118.21965026855469,
 7.567429065704346,
 12.20186996459961,
 36.70679473876953,
 68.37626647949219,
 107.06303405761719,
 58.67611312866211,
 90.57803344726562,
 54.12588119506836,
 14.383899688720703,
 80.3210220336914,
 3.1689231395721436,
 44.40621566772461,
 108.57734680175781,
 55.97476577758789,
 35.820709228515625,
 4.089223861694336,
 28.120708465576172,
 37.20622634887695,
 29.651962280273438,
 75.6419448852539,
 19.133174896240234,
 63.73122787475586,
 104.42465209960938,
 91.76313781738281,
 13.5802001953125,
 80.17024230957031,
 26.14435577392578,
 6.780490875244141,
 94.56250762939453,
 1.2259619235992432,
 60.75452423095703,
 75.59239196777344,
 31.780895233154297,
 106.91780090332031,
 89.39315795898438,
 101.94578552246094,
 76.47225189208984,
 42.23130798339844,
 120.0206527709961,
 55.26473617553711,
 91.11626434326172,
 83.50341796875,
 117.9377670288086,
 12.03666877746582,
 66.48695373535156,
 76.8968734741211,
 82.48854064941406,
 8.468062400817871,
 87.54277038574219,
 35.20693588256836,
 86.78713989257812,
 37.129093170166016,
 15.53594970703125,
 99.91372680664062,
 81.30706787109375,
 73.01067352294922,
 91.14588165283203,
 92.21807861328125,
 78.02861022949219,
 78.81629943847656,
 -0.33167701959609985,
 24.405683517456055,
 8.851534843444824,
 119.62821960449219,
 60.594303131103516,
 64.38850402832031,
 66.26744079589844,
 8.775227546691895,
 76.01937866210938,
 63.04533386230469,
 81.42970275878906,
 35.90928649902344,
 76.46888732910156,
 20.529869079589844,
 7.195693016052246,
 12.277481079101562,
 104.19506072998047,
 102.28375244140625,
 87.9645004272461,
 28.203136444091797,
 71.48356628417969,
 106.24396514892578,
 52.201412200927734,
 85.47781372070312,
 0.3163439631462097,
 6.367314338684082,
 82.44425964355469,
 80.50326538085938,
 119.74064636230469,
 75.5566177368164,
 50.586124420166016,
 4.875090599060059,
 66.02253723144531,
 25.86911392211914,
 46.90485763549805,
 1.8403348922729492,
 121.66394805908203,
 56.17625045776367,
 0.11871737241744995,
 117.21226501464844,
 2.9082744121551514,
 61.38560104370117,
 87.74279022216797,
 7.791229248046875,
 111.82917785644531,
 -0.38326817750930786,
 25.764144897460938,
 34.83236312866211,
 41.72574234008789,
 96.06015014648438,
 44.731868743896484,
 42.763912200927734,
 39.17109298706055,
 64.93973541259766,
 64.24066925048828,
 33.89353942871094,
 31.147085189819336,
 36.695945739746094,
 75.51509094238281,
 5.324892997741699,
 69.5836181640625,
 54.88414001464844,
 115.45782470703125,
 6.33981466293335,
 71.50830841064453,
 44.159263610839844,
 117.71016693115234,
 22.08026885986328,
 80.32939910888672,
 102.7554931640625,
 116.86262512207031,

In [ ]:
r2_score(y_test, neuralPrediction)

0.9924073998196729

In [ ]:
from sklearn.metrics import max_error
max_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

48

In [ ]:
max_error(y_test, testDataPrediction)

51.31999999999999

In [ ]:
max_error(y_test, neuralPrediction)

51.784820556640625

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

2.8221834255785447

In [ ]:
mean_absolute_error(y_test, testDataPrediction)

1.479288059772774

In [ ]:
mean_absolute_error(y_test, neuralPrediction)

1.9334814642722724

# **Plotting the Prediction**

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(y=neuralPrediction[0:50],
                    mode='lines',
                    name='Model Predicted ETA'))
fig.add_trace(go.Scatter(y=y_test[0:50],
                    mode='lines',
                    fill='tozeroy',
                    name='True ETA'))

fig.add_trace(go.Scatter(y=textDF['forecastedTimeToDestination'][0:50],
                    mode='lines',
                    name= 'Data Calculated ETA'))

fig.show()

# **Converting the Model to Browser friendly Javascript format**

In [ ]:
!pip install tensorflowjs
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, "helsinkiTripETA")

Collecting tensorflowjs
  Downloading https://files.pythonhosted.org/packages/28/5a/2497b3ba86f5f1c2c7539e0bc5d957146a5ed71acfb6c66f644974af4309/tensorflowjs-3.6.0-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 3.8MB/s
Requirement already satisfied: six<2,>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflowjs) (1.15.0)
Requirement already satisfied: tensorflow<3,>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflowjs) (2.4.1)
Collecting tensorflow-hub<0.10,>=0.7.0
  Downloading https://files.pythonhosted.org/packages/ac/83/a7df82744a794107641dad1decaad017d82e25f0e1f761ac9204829eef96/tensorflow_hub-0.9.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 8.2MB/s
Requirement already satisfied: tensorboard~=2.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (2.4.1)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (0.12.0)
Requirement already satisfied: grpcio~=1.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.32.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (0.3.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (3.12.4)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.12)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (0.2.0)
Requirement already satisfied: h5py~=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (2.10.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (3.7.4.3)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.1.0)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (0.36.2)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.6.3)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.1.2)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.19.5)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (2.4.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<3,>=2.1.0->tensorflowjs) (1.12.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (3.3.4)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (56.1.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (0.4.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (2.0.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (1.30.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (2.10)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (4.0.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (1.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (4.7.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (3.4.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow<3,>=2.1.0->tensorflowjs) (0.4.8)
Installing collected packages: tensorflow-hub, tensorflowjs
  Found existing installation: tensorflow-hub 0.12.0
    Uninstalling tensorflow-hub-0.12.0:
      Successfully uninstalled tensorflow-hub-0.12.0
Successfully installed tensorflow-hub-0.9.0 tensorflowjs-3.6.0

# **Building unsupervised AutoEncoder to learn About the Nature of the voyage**

In [ ]:
from tensorflow.keras.models import Model

In [ ]:
input_img = keras.Input(shape=(5,))

encoder = tf.keras.Sequential([
  keras.layers.BatchNormalization(),
  keras.layers.Dense(4, activation="relu"),
  keras.layers.Dense(2, activation="relu")])(input_img)

decoder = tf.keras.Sequential([
  keras.layers.Dense(2, activation="relu"),
  keras.layers.Dense(5)])(encoder)

autoencoder = keras.Model(input_img, decoder)
  
autoencoder.compile(optimizer='adam', loss='mae')
autoencoder.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
sequential_1 (Sequential)    (None, 2)                 54
_________________________________________________________________
sequential_2 (Sequential)    (None, 5)                 21
=================================================================
Total params: 75
Trainable params: 65
Non-trainable params: 10
_________________________________________________________________

In [ ]:
history = autoencoder.fit(X_train, X_train, 
          epochs=50, 
          batch_size=100,
          validation_data=(X_test, X_test),
          shuffle=True)

Epoch 1/50
808/808 [==============================] - 2s 2ms/step - loss: 90.7570 - val_loss: 51.0391
Epoch 2/50
808/808 [==============================] - 1s 1ms/step - loss: 29.2177 - val_loss: 2.8012
Epoch 3/50
808/808 [==============================] - 1s 1ms/step - loss: 2.9012 - val_loss: 2.4726
Epoch 4/50
808/808 [==============================] - 1s 1ms/step - loss: 2.6856 - val_loss: 2.3318
Epoch 5/50
808/808 [==============================] - 1s 1ms/step - loss: 2.6002 - val_loss: 2.2920
Epoch 6/50
808/808 [==============================] - 1s 1ms/step - loss: 2.5854 - val_loss: 2.1969
Epoch 7/50
808/808 [==============================] - 1s 1ms/step - loss: 2.5273 - val_loss: 2.3225
Epoch 8/50
808/808 [==============================] - 1s 1ms/step - loss: 2.5014 - val_loss: 2.1069
Epoch 9/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4806 - val_loss: 2.0418
Epoch 10/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4721 - val_loss: 2.2122
Epoch 11/50
808/808 [==============================] - 1s 1ms/step - loss: 2.4444 - val_loss: 2.1086
Epoch 12/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3994 - val_loss: 2.0212
Epoch 13/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3635 - val_loss: 1.9657
Epoch 14/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3461 - val_loss: 1.9245
Epoch 15/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3424 - val_loss: 1.9069
Epoch 16/50
808/808 [==============================] - 1s 1ms/step - loss: 2.3256 - val_loss: 1.9292
Epoch 17/50
808/808 [==============================] - 1s 1ms/step - loss: 2.2721 - val_loss: 1.8883
Epoch 18/50
808/808 [==============================] - 1s 2ms/step - loss: 2.3102 - val_loss: 1.8572
Epoch 19/50
808/808 [==============================] - 1s 2ms/step - loss: 2.2553 - val_loss: 1.9687
Epoch 20/50
808/808 [==============================] - 1s 2ms/step - loss: 2.2237 - val_loss: 1.8498
Epoch 21/50
808/808 [==============================] - 1s 2ms/step - loss: 2.2288 - val_loss: 1.8125
Epoch 22/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1940 - val_loss: 2.0060
Epoch 23/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1938 - val_loss: 1.7576
Epoch 24/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1846 - val_loss: 1.7666
Epoch 25/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1517 - val_loss: 1.7913
Epoch 26/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1471 - val_loss: 1.7856
Epoch 27/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1517 - val_loss: 1.7833
Epoch 28/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1369 - val_loss: 1.7183
Epoch 29/50
808/808 [==============================] - 1s 2ms/step - loss: 2.1401 - val_loss: 1.6907
Epoch 30/50
808/808 [==============================] - 1s 1ms/step - loss: 2.1184 - val_loss: 1.6877
Epoch 31/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0602 - val_loss: 1.6353
Epoch 32/50
808/808 [==============================] - 1s 2ms/step - loss: 2.0401 - val_loss: 1.6142
Epoch 33/50
808/808 [==============================] - 1s 1ms/step - loss: 2.0073 - val_loss: 1.6501
Epoch 34/50
808/808 [==============================] - 1s 2ms/step - loss: 2.0499 - val_loss: 1.7147
Epoch 35/50
808/808 [==============================] - 1s 2ms/step - loss: 2.0358 - val_loss: 1.6106
Epoch 36/50
808/808 [==============================] - 1s 2ms/step - loss: 2.0226 - val_loss: 1.7272
Epoch 37/50
808/808 [==============================] - 1s 2ms/step - loss: 2.0065 - val_loss: 1.5930
Epoch 38/50
808/808 [==============================] - 1s 2ms/step - loss: 1.9861 - val_loss: 1.5942
Epoch 39/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9774 - val_loss: 1.5244
Epoch 40/50
808/808 [==============================] - 1s 2ms/step - loss: 1.9547 - val_loss: 1.5198
Epoch 41/50
808/808 [==============================] - 1s 1ms/step - loss: 1.9242 - val_loss: 1.6005
Epoch 42/50
808/808 [==============================] - 1s 2ms/step - loss: 1.9591 - val_loss: 1.5365
Epoch 43/50
808/808 [==============================] - 1s 2ms/step - loss: 1.9033 - val_loss: 1.5281
Epoch 44/50
808/808 [==============================] - 1s 2ms/step - loss: 1.8764 - val_loss: 1.7109
Epoch 45/50
808/808 [==============================] - 1s 2ms/step - loss: 1.8878 - val_loss: 1.4762
Epoch 46/50
808/808 [==============================] - 1s 1ms/step - loss: 1.8767 - val_loss: 1.4123
Epoch 47/50
808/808 [==============================] - 1s 2ms/step - loss: 1.8279 - val_loss: 1.3993
Epoch 48/50
808/808 [==============================] - 1s 2ms/step - loss: 1.8326 - val_loss: 1.6149
Epoch 49/50
808/808 [==============================] - 1s 2ms/step - loss: 1.7909 - val_loss: 1.3722
Epoch 50/50
808/808 [==============================] - 1s 2ms/step - loss: 1.7898 - val_loss: 1.4410

# **Calculating the threshold that determine if new input is an anomaly**

In [ ]:
reconstructions = autoencoder.predict(X_train)
train_loss = tf.keras.losses.mae(reconstructions, X_train)
train_loss

<tf.Tensor: shape=(80762,), dtype=float64, numpy=
array([0.71114731, 2.0951252 , 0.8298008 , ..., 1.03600883, 0.57966156,
       0.36092873])>

In [ ]:
threshold = np.mean(train_loss) + np.std(train_loss)
print("Threshold: ", threshold)

Threshold:  2.615691097473723

# **Saving the unsupervised model**

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(autoencoder, "helsinkiTripHealth")

In [ ]:
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from sklearn.ensemble import IsolationForest

clf = OneClassSVM(nu=0.001)
clf.fit(x[["lat", "long", "sog", "cog", "hdg"]])

In [ ]:
outlierResult = clf.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
newlist = [item for item in outlierResult if item == -1]

print(len(newlist), len(outlierResult))

In [ ]:
initial_type = [('x', FloatTensorType([None, x[["lat", "long", "sog", "cog", "hdg"]].shape[1]]))]
onx = convert_sklearn(clf, initial_types=initial_type)

with open("helsinkiNovelty.onnx", "wb") as f:
    f.write(onx.SerializeToString())

# **Basically Repeating the same steps for Estonian trip**

In [ ]:
MegastarEstoniaDF.describe()

In [ ]:
MegastarEstoniaDF = MegastarEstoniaDF.dropna(thresh=16)
MegastarEstoniaDF.reset_index(drop=True)
MegastarEstoniaDF["updated"] = pd.to_datetime(MegastarEstoniaDF["updated"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF["ata"] = pd.to_datetime(MegastarEstoniaDF["ata"], format='%Y-%m-%d %H:%M:%S')
MegastarEstoniaDF["etaSchedule"] = pd.to_datetime(MegastarEstoniaDF["etaSchedule"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF["eta"] = pd.to_datetime(MegastarEstoniaDF["eta"], format='%d/%m/%Y %H:%M')
MegastarEstoniaDF = MegastarEstoniaDF.set_index('updated', drop = False)

ArrivalIndex = MegastarEstoniaDF[MegastarEstoniaDF["ata"].notna()]

MegastarEstoniaDF["timeToDestination"] = MegastarEstoniaDF["ata"].bfill()

MegastarEstoniaDF["newTimeToDestination"] = MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["updated"]

MegastarEstoniaDF['newTimeToDestination'] = (MegastarEstoniaDF['newTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')
MegastarEstoniaDF['maximumJourneyDuration'] = ((MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["etaSchedule"]) / np.timedelta64(1, 'm')).astype('int16')
MegastarEstoniaDF['etaError'] = ((MegastarEstoniaDF["timeToDestination"] - MegastarEstoniaDF["eta"]) / np.timedelta64(1, 'm')).astype('int16')

MegastarEstoniaDF["forecastedTimeToDestination"] = MegastarEstoniaDF["eta"] - MegastarEstoniaDF["updated"]
MegastarEstoniaDF['forecastedTimeToDestination'] = (MegastarEstoniaDF['forecastedTimeToDestination'] / np.timedelta64(1, 'm')).astype('int16')

MegastarEstoniaDF

In [ ]:
MegastarEstoniaDF['maximumJourneyDuration'].describe()

In [ ]:
MegastarEstoniaDF['newTimeToDestination'].describe()

In [ ]:
MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] > 0)]["maximumJourneyDuration"].unique()

In [ ]:
MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] == 60)]

In [ ]:
cleanedDataEstonia = MegastarEstoniaDF[(MegastarEstoniaDF["maximumJourneyDuration"] < 61)& (MegastarEstoniaDF["hdg"] <= 360)]
cleanedDataEstonia.describe()

In [ ]:
cleanedDataEstoniaNormalArrival = cleanedDataEstonia[(cleanedDataEstonia["maximumJourneyDuration"] <= 0)]
cleanedDataEstoniaLateArrival = cleanedDataEstonia[(cleanedDataEstonia["maximumJourneyDuration"] > 30)]
cleanedDataEstoniaLateArrival

In [ ]:
cleanedDataEstonia[(cleanedDataEstonia["etaError"] > 0)]["etaError"].unique()

In [ ]:
etaErrorCountEst = len(cleanedDataEstonia[(cleanedDataEstonia["etaError"] >= 5)].index)
totalCleanDataCountEst = len(cleanedDataEstonia.index)

import plotly.graph_objects as go

labels = ['Falsely Predicted_ETA','Total']
values = [etaErrorCountEst, totalCleanDataCountEst]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [ ]:
cleanedDataEstonia = cleanedDataEstonia[~cleanedDataEstonia.index.duplicated(keep='first')]
x_est = cleanedDataEstonia[["lat", "long", "sog", "cog", "hdg","forecastedTimeToDestination","newTimeToDestination"]].reset_index(drop=True)
x_est = x_est.astype({'lat': 'float32', 'long': 'float32', 'sog': 'float32', 'cog': 'float32','hdg': 'int32', 'newTimeToDestination': 'int32'})
x_est.dtypes

In [ ]:
X = x_est[["lat", "long", "sog", "cog", "hdg"]]
y = x_est["newTimeToDestination"]

from sklearn.model_selection import train_test_split
#from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

regressor_est = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
regModel_est = regressor_est.fit(X_train,y_train)
#regModel.score(X_test,y_test)
regModel_est.score(X_train,y_train)

In [ ]:
x_data = np.array(X)

keras_normalizer = preprocessing.Normalization(input_shape=[5,])
keras_normalizer.adapt(x_data)

In [ ]:
def build_model():
  model = keras.models.Sequential()
  model.add(keras.layers.BatchNormalization())
  model.add(keras.layers.Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
  model.add(keras.layers.Dense(64, activation='relu'))
  model.add(keras.layers.Dense(1))
  model.compile(optimizer='rmsprop', loss='mse', metrics=[coeff_determination])
  return model

model = build_model()
model.fit(X_train, y_train, epochs=50, batch_size=1000)

In [ ]:
regModel_est.score(X_test,y_test)

In [ ]:
textDF = x_est.iloc[X_test.index]
textDF

In [ ]:
from sklearn.metrics import r2_score
r2_score(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

In [ ]:
testDataPrediction = regModel_est.predict(X_test)
testDataPrediction

In [ ]:
neuralPrediction = model.predict(textDF[["lat", "long", "sog", "cog", "hdg"]])
neuralPrediction = [num[0] for num in neuralPrediction.tolist()]
neuralPrediction

In [ ]:
r2_score(y_test, neuralPrediction)

In [ ]:
from sklearn.metrics import max_error
max_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

In [ ]:
max_error(y_test, testDataPrediction)

In [ ]:
max_error(y_test, neuralPrediction)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(textDF['newTimeToDestination'], textDF['forecastedTimeToDestination'])

In [ ]:
mean_absolute_error(y_test, testDataPrediction)

In [ ]:
mean_absolute_error(y_test, neuralPrediction)

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(y=neuralPrediction[0:50],
                    mode='lines',
                    name='Model Predicted ETA'))
fig.add_trace(go.Scatter(y=y_test[0:50],
                    mode='lines',
                    fill='tozeroy',
                    name='True ETA'))

fig.add_trace(go.Scatter(y=textDF['forecastedTimeToDestination'][0:50],
                    mode='lines',
                    name= 'Data Calculated ETA'))

fig.show()

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, "tallinnTripETA")

In [ ]:
from tensorflow.keras.models import Model

In [ ]:
input_img = keras.Input(shape=(5,))

encoder = tf.keras.Sequential([
  keras.layers.BatchNormalization(),
  keras.layers.Dense(4, activation="relu"),
  keras.layers.Dense(2, activation="relu")])(input_img)

decoder = tf.keras.Sequential([
  keras.layers.Dense(2, activation="relu"),
  keras.layers.Dense(5)])(encoder)

autoencoder = keras.Model(input_img, decoder)
  
autoencoder.compile(optimizer='adam', loss='mae')
autoencoder.summary()

In [ ]:
history = autoencoder.fit(X_train, X_train, 
          epochs=50, 
          batch_size=100,
          validation_data=(X_test, X_test),
          shuffle=True)

In [ ]:
threshold = np.mean(train_loss) + np.std(train_loss)
print("Threshold: ", threshold)

In [ ]:
#reconstructions_est = autoencoder.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
#test_loss = tf.keras.losses.mae(reconstructions_est, cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]])
#threshold_est = np.mean(test_loss)
#threshold_est

In [ ]:
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(autoencoder, "tallinnTripHealth")

In [ ]:
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from sklearn.ensemble import IsolationForest

#cleanedDataEstoniaNormalArrival = cleanedDataEstoniaNormalArrival[~cleanedDataEstoniaNormalArrival.index.duplicated(keep='first')]
#x_est = cleanedDataEstoniaNormalArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True)
clf = LocalOutlierFactor(novelty= True, contamination=0.001)
clf.fit(x_est[["lat", "long", "sog", "cog", "hdg"]])
x_est

In [ ]:
outlierResult = clf.predict(cleanedDataEstoniaLateArrival[["lat", "long", "sog", "cog", "hdg"]].reset_index(drop=True))
newlist = [item for item in outlierResult if item == -1]

print(len(newlist), len(outlierResult))

In [ ]:

#from sklearn import preprocessing
#scaler = preprocessing.MinMaxScaler();
#x1 = scaler.fit_transform(x)
#x = pd.DataFrame(x1, columns=["lat", "long", "sog", "cog", "hdg","newTimeToDestination"])

In [ ]:
#x2 = scaler.inverse_transform(x1)
#x2



1.   Data is not balanced, should try NOVELTY DETECTION or use python SMOGYN
2.   Check for overfitting

1.   Investigate the possibility of live training of data by batches

2.   Use Max error, MSE, to prove that my model is better than default ()
1.   Deploy the model to browser using onnx.js, then you can talk about edge computing during the presentation
2.   Issue https://github.com/tensorflow/tfjs/issues/4626

1.   Issue https://github.com/tensorflow/tfjs/issues/3786
2.   List item

In [ ]:
# Convert into ONNX format
!pip install skl2onnx

from skl2onnx import convert_sklearn, to_onnx
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('x', FloatTensorType([None, X_train.shape[1]]))]
onx = convert_sklearn(regModel, initial_types=initial_type)

with open("helsinkiJourneyLin.onnx", "wb") as f:
    f.write(onx.SerializeToString())